{% load static %}
<ul class="nav nav-tabs mb-3" id="clientTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="personal-tab" data-bs-toggle="tab" data-bs-target="#personal" type="button"
            role="tab" aria-controls="personal" aria-selected="true">Información Personal</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="clientes-tab" data-bs-toggle="tab" data-bs-target="#clientes" type="button"
            role="tab" aria-controls="clientes" aria-selected="false">Listado de Clientes</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="creditos-tab" data-bs-toggle="tab" data-bs-target="#creditos"
            type="button" role="tab" aria-controls="creditos" aria-selected="false">Creditos de Clientes</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="reporte_cobranza-tab" data-bs-toggle="tab" data-bs-target="#reporte_cobranza" type="button"
            role="tab" aria-controls="reporte_cobranza" aria-selected="false">Reportes</button>
    </li>
    
</ul>