{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row box">
    <div class="row">
        <p class="fw-bold">Fecha: <span class="fw-normal">{{object_list.fecha}}</span> </p>
        <p class="fw-bold">Monto: <span class="fw-normal">{{object_list.fmonto}}</span> </p>
        <p class="fw-bold">Numero de Referencia: <span class="fw-normal">{{object_list.numero_referencia}}</span> </p>
        <p class="fw-bold">Codigo de Ingreso: <span class="fw-normal">{{object_list.codigo_ingreso}}</span> </p>
        <p class="fw-bold">Descripcion: </p>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-bottom: 2rem;" disabled>
                    {{object_list.descripcion}}
                </textarea>
        <p class="fw-bold">Observaciones: </p>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-bottom: 2rem;" disabled>
            {{object_list.observaciones}}
        </textarea>

        <div class="fw-bold">Boleta: <a href="{{object_list.get_boleta}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                    <path
                        d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z" />
                </svg>
            </a>
        </div>
    </div>
    <div class="row" style="margin-top: 1rem;">
        {% if permisos.puede_modificar_registro_ingreso %}
        <div class="col">
            <a href="{% url 'contable:ingresos_update' object_list.id%}" class="btn_guardar">Editar</a>

        </div>
        {% endif %}
        <div class="col">
            <button onclick="window.history.back()" type="button" class="btn_cancel">Atras</button>

        </div>
        
    </div>

</div>


{% endblock %}