{% load static %}
<div class="row" style="margin: 1rem 0;">
    <p class="fw-semibold">Nombre del Asesor</p>
    <p style="margin-left: 0.5rem;">{{asesor_credito.nombre}} {{asesor_credito.apellido}}</p>
    <hr>
    <p class="fw-semibold">Tipo de Identificación</p>
    <p style="margin-left: 0.5rem;">{{asesor_credito.type_identification}}</p>
    <hr>
    <p class="fw-semibold">Numero de Identificación</p>
    <p style="margin-left: 0.5rem;">{{asesor_credito.identification_number}}</p>
    <hr>
    <p class="fw-semibold">Numero de Telefono</p>
    <p style="margin-left: 0.5rem;">{{asesor_credito.telephone}}</p>
    <hr>
    <p class="fw-semibold">Correo Electronico</p>
    <p style="margin-left: 0.5rem;">{{asesor_credito.email}}</p>
    <hr>
    
</div>