{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container my-4 p-4 bg-white rounded shadow-sm">

    <div class="row mb-4">
        {% include 'financings/recibos/snippets/presentation.html' %}

    </div>
    <div class="row align-items-center mb-4 gx-3 gy-2">
        <div class="col-12 col-md-6 col-lg-5">
        {% include 'financings/recibos/snippets/search.html' with query=query %}
      </div>
    </div>
    <div class="row  mb-4">
        {% include 'financings/recibos/table/table.html' %}
    </div>
    <!-- Paginación -->
    {% if page_obj %}
    <div class="row">

        {% include 'snippets/pages.html' %}

    </div>
    {% endif %}

</div>

{% endblock %}