body{
    background-color: #F5F3F4;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton{
    display: flex;
    align-items: center;
    justify-content: center;
}



.boton_ir{
    background-color: #161A1D;
    text-decoration: none;
    color: #F5F3F4;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
}

.row{
    display:  flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

