{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock%}

{% block content %}
<div class="container my-4 p-4 bg-white rounded shadow-sm">
    <div class="row">
        {% include 'contable/seguros/snippets/presentation.html' %}
        <div class="col mb-4">
            <p class="text-body-secondary fs-6 text-uppercase">TOTAL DE TODOS LOS SEGUROS REGISTRADOS {{message}}:
                <span class="badge rounded-pill text-bg-dark">{{count}}</span>
            </p>
        </div>
    </div>
    <hr>
    {% if permisos.puede_crear_seguro or permisos.puede_crear_boleta_pago %}
    <div class="row mb-4">
        <div class="col d-flex flex-row-reverse">
            {% if permisos.puede_crear_seguro %}
            <a class="btn_guardar" href="{% url 'contable:seguros_create'%}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                </svg>
                Añadir Seguro nuevo</a>
                {% endif %}
                {% if permisos.puede_crear_boleta_pago %}
                <a class="btn_guardar" href="{% url 'contable:seguros_boleta'%}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus"
                        viewBox="0 0 16 16">
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                    </svg>
                    Registrar Boleta</a>
                    {% endif %}
        </div>

    </div>
        
        {% endif %}
   

    <div class="row align-items-center mb-4 gx-3 gy-2">
        {% if permisos.puede_consultar_seguros %}
        <div class="col-12 col-md-12 col-lg-12">
            {% include 'contable/seguros/snippets/search.html' with query=query %}

        </div>
        {% endif %}
        
        
      
        
    </div>



    {% include 'contable/seguros/table/table.html' %}
    <hr>
    {% if page_obj %}
    {% include 'snippets/pages.html' %}
    {% endif %}

</div>




{% endblock %}