{% extends 'email/base.html' %}
{% load static %}

{%block content %}
<div style="display: flex; align-items: center; justify-content: center; height: 100vh;">
    <div class="card" style="width: 50rem; padding: 2rem;">
        <div class="card-body">
            <h5 class="card-title">EL TELAR</h5>
            <p class="card-text">
                {{message}}
            </p>
            {% if object.id %}
            <a href="{{ full_url }}{% url 'financings:actualizar_boleta' object.id %}">EDITAR BOLETA</a>
            {% endif %}



        </div>
    </div>
</div>
{%endblock%}