{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
</head>
<body>
    <h3>Solicitaste restablecer tu contraseña</h3>
    <p style="margin-bottom: 2rem;">Haz click en el siguiente boton para cambiar tu contraseña</p>
   <!--  <a href="{{protocol}}:// {{domain}} {% url 'password_reset_confirm'  uidb64=uid token=token %}" style="border: 1px solid #161A1D; text-decoration: none; color: #161A1D; padding: 1.5rem;  margin-top: 2rem; border-radius: 2rem;">RESTRABLECER</a>
    -->
</body>
</html>