{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codigo de verificación</title>


</head>


<body>

    <h2 style="font-size: 2rem;">Estimado/a {{user}},</h2>
    <p style="font-size: 2rem;">Gracias por autenticarte en la aplicación ElTelar. Su código de
        verificación
        es: </p>
        <hr>
    <p style="background-color: black; color: aliceblue; border-radius: 2rem; padding: 2rem; font-size: 2rem;">{{code}}</p>




</body>

</html>
