{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENSAJE DE ALERTA - EL TELAR</title>
</head>

<body>
    <div style="background-color: #f2f2f2; padding: 20px; text-align: center">

        <h1 style="text-transform: uppercase">
            ESTE USUARIO HA {{estado}},

        </h1>


        <p style="font-style: oblique"> {{ user.username }},</p>
        <p style="font-style: oblique"> {{ user }},</p>
        <p>Hora:  {{hora}}</p>
        

        <h1>EL TELAR</h1>


    </div>
</body>

</html>