<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mensaje de Bienvenida</title>
  </head>
  <body>
    <div style="background-color: #f2f2f2; padding: 20px">
      <h1>Bienvenido al boletín informativo</h1>
      <p>Hola {{ nombre_usuario }},</p>
      <p>
        Gracias por suscribirte a nuestro boletín informativo. Aquí tienes las
        últimas noticias:
      </p>
      <ul>
        <li>Noticia 1</li>
        <li>Noticia 2</li>
        <li>Noticia 3</li>
      </ul>
      <p>¡Esperamos que disfrutes leyendo nuestras noticias!</p>
      <p>Saludos,</p>
      <p>El equipo de nuestro sitio web</p>
    </div>
  </body>
</html>
