{% extends 'pdf/base.html' %}
{% load static %}


{% block content %}
<div class="container" style="font-size: 12px;">
    <div class="row">
        <div class="col-4">
            <img src="{% static 'img/logo.png' %}" alt="imagen_de_la_empresa" style="width: 150px">
        </div>
        <div class="col" style="font-weight: 600;">
            <p>Reporte sobre los pagos realizados para las cuotas del credito: </p>
            <p>{{credito}}</p>
            <p>Tasa de Interes Mensual: <span style="font-weight: 100;">{{credito.tasa_mensual}}%</span> </p>
            <p>Plazo: <span style="font-weight: 100;">{{credito.plazo}}Meses</span> </p>
            <p>Monto: <span style="font-weight: 100;">Q{{credito.formato_monto}}</span> </p>
            <p>Saldo Actual: <span style="font-weight: 100;">Q{{credito.formato_saldo_actual}}</span> </p>
        </div>
    </div>
    <hr>
    {% for cuota in cuotas %}
    <div class="row">
        <div class="d-flex">
            <div class="col">
                <p style="font-weight: 600; ">Cuota: {{forloop.counter}}</p>
            </div>
            {% if cuota.cuota_vencida %}
            <div class="col">
                <p>Cuota Vencida</p>

            </div>
            {% endif %}

        </div>

        <div class="col">
            <p>Fecha de Inicio: <span>{{cuota.start_date.date}}</span></p>
            <p>Fecha de Vencimiento: <span>{{cuota.due_date.date}}</span></p>
            <p>Fecha de Limite: <span>{{cuota.fecha_limite.date}}</span></p>
            <p>Saldo Capital Pendiente: <span>Q{{cuota.formato_saldo_capital_pendiente}}</span></p>
            {% if cuota.interes_acumulado_generado %}
            <p>Interes Acumulado: <span>Q{{cuota.formato_cuota_interes_acumulado_generado}}</span></p>
            {% endif %}
            <p>Interes Generado del mes: <span>Q{{cuota.formato_cuota_interes_generado}}</span></p>

            {% if cuota.mora_acumulado_generado %}
            <p>Mora Acumulada: <span>Q{{cuota.formato_cuota_mora_acumulado_generado}}</span></p>
            {%endif %}

            {% if cuota.mora %}
            <p>Mora Generada: <span>Q{{cuota.formato_cuota_mora_generado}}</span></p>
            {% endif %}
        </div>
    </div>
    {% for recibo in recibos %}
    {% if recibo.cuota == cuota %}
    <div class="row" style="margin-top: 0.5rem; padding: 1rem;">
        <p style="font-weight:600; font-style: oblique;">Pago: {{forloop.counter}} </p>
        <div class="col">
            <p>Monto: Q{{recibo.Fmonto}}</p>
            <p>Fecha de Pago: {{recibo.fecha}}</p>
            <p>Interes Pagado: Q{{recibo.Finteres_pagado}} </p>
            {% if recibo.mora_pagada %}
            <p>Mora Pagado: Q{{recibo.Fmora_pagada}} </p>
            {% endif %}
            <p>Capital Aportado: Q{{recibo.Faporte_capital}} </p>
        </div>
    </div>
    {% endif%}
    {% endfor %}
    <hr>
    {% endfor %}


</div>


{% endblock %}