{% load static %}
<div class="row">
    <div class="col ">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Codigo de Usuario</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo Electronico</th>
                        <th scope="col">Nombre de Usuario</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Numero de telefono</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in object_list %}
                    <tr>
                        <th scope="row">{{user.user_code}}</th>
                        <td>{{user.first_name}} {{user.last_name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.gender}}</td>
                        <td>
                            <p>{{user.get_telephone}}</p>
                        </td>
                        <td>
                            <p class="{% if not user.status %} inactivo {% endif %} activo">
                                {{user.get_status}}
                            </p>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button class="action dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    ...
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    {% if permisos.puede_ver_detalle_usuario %}
                                    <li><a class="dropdown-item" href="{% url 'users:detail' user.username %}">Ver
                                            informacion</a></li>
                                    {% endif %}
                                    {% if permisos.puede_editar_usuario %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'users:update' user.pk %}">Editar
                                            informacion</a>
                                    </li>
                                    
                                    <li>
                                        <a class="dropdown-item" href="{% url 'users:update_password_user' user.id %}">
                                            Cambiar su contraseña
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if permisos.puede_asignar_permisos_usuario %}
                                    <li><a class="dropdown-item" href="{% url 'roles_permisos:asignacion_permisos' user.id %}">Asignarle Permisos</a></li>
                                    {% endif %}

                                    <hr>
                                    {% if user.status %}
                                    {% if permisos.puede_dar_de_baja_un_usuario %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'users:deactivate' user.id%}">
                                            Inhabilitar Usuario
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% else %}
                                    {% if permisos.puede_habilitar_usuario %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'users:activar' user.id%}">
                                            Activar Usuario
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% endif %}

                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>