{% load static %}
<div class="table-responsive">
    <table class="glass-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Fecha Emisión</th>
                <th>No. Referencia</th>
                <th>Monto</th>
                <th>Tipo de Pago</th>
                <th>Estado</th>
                <th class="text-end">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for credit in payment_list %}
                {% if request.user.rol.role_name == 'Secretari@' %}
                    {% if credit.tipo_pago == 'CLIENTE' or credit.tipo_pago == 'CREDITO' %}
                        {% include 'financings/payment/table/tr.html' %}
                    {% endif %}
                {% elif request.user.rol.role_name == 'Administrador' or request.user.rol.role_name == 'Programador' %}
                    {% include 'financings/payment/table/tr.html' %}
                {% endif %}
            {% empty %}
                <tr>
                    <td colspan="7" class="text-center py-4 text-muted">
                        No se encontraron registros de boletas.
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>