{% load static %}
<div class="row">
    <div class="col-12 ">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Fecha de Emision</th>
                        <th scope="col">No. Referencia</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Tipo de pago</th>
                        <th scope="col">Estado</th>
                        <th scope="col">...</th>


                    </tr>
                </thead>
                <tbody>
                    {% for credit in payment_list %}

                    <tr>
                        <td scope="row">
                            {{credit.fecha_emision.date}}
                        </td>
                        <td scope="row">

                            {{credit.numero_referencia}}

                        </td>
                        <td scope="row">

                            Q{{credit.Fmonto}}


                        </td>
                        <td scope="row">{{credit.tipo_pago}}</td>


                        <td scope="row">
                            {{credit.estado_transaccion}}
                        </td>
                        <td scope="row">
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                                    <path
                                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                                </svg>

                            </a>
                        </td>








                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


</div>