{% extends 'base.html' %}

{% block content %}
<div class="row box" style="padding: 5rem;">
    <div class="row">
        <div class="d-flex justify-content-start">
            <button onclick="window.history.back()" type="button" class="btn btn-link">Volver</button>

        </div>
    </div>
    <div class="row">

        <!-- SECCION DE INFORMACION -->
        <p class="fw-bold">Numero de Referencia: <span class="fw-normal">{{pago.numero_referencia}}</span></p>
        <p class="fw-bold">Monto: <span class="fw-normal">{{pago.monto}}</span></p>
        <p class="fw-bold">Fecha de Emision: <span class="fw-normal">{{pago.fechaEmision}}</span></p>
        <p class="fw-bold">Descripcion: </p>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-bottom: 2rem;"
                    disabled>
                    {{pago.descripcion}}
                </textarea>
        <p class="fw-bold">Estado de la Transaccion: {{pago.estado_transaccion}}</p>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-bottom: 2rem;"
                    disabled>
                    {% if pago.descripcion_estado %}
                    {{pago.descripcion_estado}}
                    {%else%}
                    Sin observaciones
                    {%endif%}
                </textarea>

    </div>
    <div class="row">
        <!-- IMAGEN O PDF DEL ARCHIVO -->
        <a href="{{pago.get_document}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                <path
                    d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z" />
            </svg>

            {{pago.numero_referencia}}
        </a>

    </div>
    <div class="row" style="margin-top: 2rem;">
        {% if pago.estado_transaccion != 'COMPLETADO' and permisos.puede_editar_boleta_pago %}
        <div class="col">
            <a href="{% url 'financings:actualizar_boleta' pago.id%}" class="btn_guardar">Editar Boleta</a>

        </div>
        {%endif%}
        <div class="col">
            <button onclick="window.history.back()" type="button" class="btn_cancel">Cancelar</button>
        </div>
    </div>

</div>






{% endblock %}