.btn_add{
    background-color: white;
    border:#0B090A 1px solid;
    border-radius: 2rem;
    padding: 0.5rem;
    text-decoration: none;
    color: #0B090A;
    
}

.btn_edit{
    background-color: #0B090A;
    color: #efefef;
    text-decoration: none;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}

.btn_guardar{
    background-color: #e5383b;
    border: 1px solid #e5383b;
    color: #fdf3f3;
    text-decoration: none;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
}

.btn_guardar:hover{
    background-color: #b22325;
    color: #fdf3f3;
    border-radius: 2rem;
    border: 1px solid #b22325;
}

.btn_cancel{
    background-color: white;
    border:#e5383b 1px solid;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    text-decoration: none;
    color: #E5383B;
    
}
.btn_cancel:hover{
    background: linear-gradient(#b22325, #d42e31);
    border:#e5383b 1px solid;
    color: white;
    
}
.btn_siguiente{
    background-color:#fef2f2 ;
    text-decoration: none;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    border: 1px solid #fea3a5;
    color: #ba181b;
}

.btn_siguiente:hover{
    color: #fef2f2;
    background-color:#e02226 ;
}