.formulario_main{    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background-color: #eef0f2;
}
.container{
    max-width: 85rem;
    max-height: 35rem;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 12px;    
}

.formulario{    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem;
   
    
    
}


.formulario .form-group{
    margin-top: 1.5rem;
}

.formulario h3{
    color: #c52233;

}

.formulario .btn_iniciar{
    margin-top: 3rem;
    background-color: #a7333f;
    color: #fbfbf2;
    border-color: #a7333f;
    border-radius: 2rem;
    border-style: solid;
}

