mysqldump: [Warning] Using a password on the command line interface can be insecure.
-- MySQL dump 10.13  Distrib 9.1.0, for Linux (x86_64)
--
-- Host: localhost    Database: db
-- ------------------------------------------------------
-- Server version	9.1.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
mysqldump: Error: 'Access denied; you need (at least one of) the PROCESS privilege(s) for this operation' when trying to dump tablespaces

--
-- Table structure for table `FinancialInformation_othersourcesofincome`
--

DROP TABLE IF EXISTS `FinancialInformation_othersourcesofincome`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `FinancialInformation_othersourcesofincome` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `source_of_income` varchar(100) NOT NULL,
  `nit` varchar(20) NOT NULL,
  `phone_number` varchar(20) NOT NULL,
  `salary` decimal(10,2) NOT NULL,
  `customer_id_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FinancialInformation_customer_id_id_c6131296_fk_customers` (`customer_id_id`),
  CONSTRAINT `FinancialInformation_customer_id_id_c6131296_fk_customers` FOREIGN KEY (`customer_id_id`) REFERENCES `customers_customer` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `FinancialInformation_othersourcesofincome`
--

LOCK TABLES `FinancialInformation_othersourcesofincome` WRITE;
/*!40000 ALTER TABLE `FinancialInformation_othersourcesofincome` DISABLE KEYS */;
/*!40000 ALTER TABLE `FinancialInformation_othersourcesofincome` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `FinancialInformation_reference`
--

DROP TABLE IF EXISTS `FinancialInformation_reference`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `FinancialInformation_reference` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `full_name` varchar(150) NOT NULL,
  `phone_number` varchar(20) NOT NULL,
  `reference_type` varchar(100) NOT NULL,
  `customer_id_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FinancialInformation_customer_id_id_42b86f6d_fk_customers` (`customer_id_id`),
  CONSTRAINT `FinancialInformation_customer_id_id_42b86f6d_fk_customers` FOREIGN KEY (`customer_id_id`) REFERENCES `customers_customer` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=673 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `FinancialInformation_reference`
--

LOCK TABLES `FinancialInformation_reference` WRITE;
/*!40000 ALTER TABLE `FinancialInformation_reference` DISABLE KEYS */;
/*!40000 ALTER TABLE `FinancialInformation_reference` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `FinancialInformation_workinginformation`
--

DROP TABLE IF EXISTS `FinancialInformation_workinginformation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `FinancialInformation_workinginformation` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `position` varchar(150) NOT NULL,
  `company_name` varchar(150) NOT NULL,
  `start_date` date DEFAULT NULL,
  `description` longtext,
  `salary` decimal(10,2) NOT NULL,
  `working_hours` varchar(70) NOT NULL,
  `phone_number` varchar(20) NOT NULL,
  `source_of_income` varchar(90) NOT NULL,
  `income_detail` longtext,
  `employment_status` varchar(150) NOT NULL,
  `customer_id_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FinancialInformation_customer_id_id_ce6c4ea9_fk_customers` (`customer_id_id`),
  CONSTRAINT `FinancialInformation_customer_id_id_ce6c4ea9_fk_customers` FOREIGN KEY (`customer_id_id`) REFERENCES `customers_customer` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=174 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `FinancialInformation_workinginformation`
--

LOCK TABLES `FinancialInformation_workinginformation` WRITE;
/*!40000 ALTER TABLE `FinancialInformation_workinginformation` DISABLE KEYS */;
/*!40000 ALTER TABLE `FinancialInformation_workinginformation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `InvestmentPlan_investmentplan`
--

DROP TABLE IF EXISTS `InvestmentPlan_investmentplan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `InvestmentPlan_investmentplan` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `type_of_product_or_service` varchar(75) NOT NULL,
  `total_value_of_the_product_or_service` decimal(15,2) NOT NULL,
  `investment_plan_description` longtext,
  `initial_amount` decimal(15,2) NOT NULL,
  `monthly_amount` decimal(15,2) NOT NULL,
  `transfers_or_transfer_of_funds` tinyint(1) NOT NULL,
  `type_of_transfers_or_transfer_of_funds` varchar(75) NOT NULL,
  `investment_plan_code` varchar(25) NOT NULL,
  `customer_id_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `investment_plan_code` (`investment_plan_code`),
  KEY `InvestmentPlan_inves_customer_id_id_2328b8d4_fk_customers` (`customer_id_id`),
  CONSTRAINT `InvestmentPlan_inves_customer_id_id_2328b8d4_fk_customers` FOREIGN KEY (`customer_id_id`) REFERENCES `customers_customer` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=170 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `InvestmentPlan_investmentplan`
--

LOCK TABLES `InvestmentPlan_investmentplan` WRITE;
/*!40000 ALTER TABLE `InvestmentPlan_investmentplan` DISABLE KEYS */;
/*!40000 ALTER TABLE `InvestmentPlan_investmentplan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accountings_creditor`
--

DROP TABLE IF EXISTS `accountings_creditor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accountings_creditor` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `codigo_acreedor` varchar(100) NOT NULL,
  `nombre_acreedor` varchar(150) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `monto` decimal(15,2) NOT NULL,
  `tasa` decimal(5,3) NOT NULL,
  `plazo` int NOT NULL,
  `fecha_vencimiento` date NOT NULL,
  `fecha_registro` date NOT NULL,
  `numero_referencia` varchar(255) DEFAULT NULL,
  `observaciones` longtext,
  `boleta` varchar(100) DEFAULT NULL,
  `status` tinyint(1) NOT NULL,
  `saldo_pendiente` decimal(15,2) NOT NULL,
  `saldo_actual` decimal(15,2) NOT NULL,
  `is_paid_off` tinyint(1) NOT NULL,
  `estado_aportacion` tinyint(1) NOT NULL,
  `estados_fechas` tinyint(1) DEFAULT NULL,
  `forma_de_pago` varchar(75) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accountings_creditor`
--

LOCK TABLES `accountings_creditor` WRITE;
/*!40000 ALTER TABLE `accountings_creditor` DISABLE KEYS */;
/*!40000 ALTER TABLE `accountings_creditor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accountings_egress`
--

DROP TABLE IF EXISTS `accountings_egress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accountings_egress` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `fecha_doc_fiscal` date DEFAULT NULL,
  `numero_doc` varchar(155) DEFAULT NULL,
  `nit` varchar(50) DEFAULT NULL,
  `monto` decimal(15,2) DEFAULT NULL,
  `monto_doc` decimal(15,2) DEFAULT NULL,
  `codigo_egreso` varchar(100) NOT NULL,
  `descripcion` longtext,
  `observaciones` longtext,
  `numero_referencia` varchar(255) NOT NULL,
  `boleta` varchar(100) DEFAULT NULL,
  `documento` varchar(100) DEFAULT NULL,
  `status` tinyint(1) NOT NULL,
  `fecha_registro` date NOT NULL,
  `nombre` varchar(150) DEFAULT NULL,
  `pago_correspondiente` varchar(150) DEFAULT NULL,
  `tipo_impuesto` varchar(150) DEFAULT NULL,
  `acreedor_id` bigint DEFAULT NULL,
  `seguro_id` bigint DEFAULT NULL,
  `tipo_gasto` varchar(150) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero_referencia` (`numero_referencia`),
  KEY `accountings_egress_acreedor_id_025c3c7a_fk_accountin` (`acreedor_id`),
  KEY `accountings_egress_seguro_id_49653d75_fk_accountin` (`seguro_id`),
  CONSTRAINT `accountings_egress_acreedor_id_025c3c7a_fk_accountin` FOREIGN KEY (`acreedor_id`) REFERENCES `accountings_creditor` (`id`),
  CONSTRAINT `accountings_egress_seguro_id_49653d75_fk_accountin` FOREIGN KEY (`seguro_id`) REFERENCES `accountings_insurance` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=60 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accountings_egress`
--

LOCK TABLES `accountings_egress` WRITE;
/*!40000 ALTER TABLE `accountings_egress` DISABLE KEYS */;
/*!40000 ALTER TABLE `accountings_egress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accountings_income`
--

DROP TABLE IF EXISTS `accountings_income`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accountings_income` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `monto` decimal(15,2) NOT NULL,
  `codigo_ingreso` varchar(100) NOT NULL,
  `descripcion` longtext,
  `observaciones` longtext,
  `numero_referencia` varchar(255) NOT NULL,
  `boleta` varchar(100) DEFAULT NULL,
  `status` tinyint(1) NOT NULL,
  `fecha_registro` date NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero_referencia` (`numero_referencia`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accountings_income`
--

LOCK TABLES `accountings_income` WRITE;
/*!40000 ALTER TABLE `accountings_income` DISABLE KEYS */;
INSERT INTO `accountings_income` VALUES (1,'2025-01-06',4444.40,'Otros Ingresos','OTROS INGRESOS','POR PAGO DE OTROS SERVICIOS, PENDIENTES DE REINTEGRAR','28183137','pagos/boletas/otros_ingresos/Captura_de_pantalla_2025-02-12_141849.png',1,'2025-02-12');
/*!40000 ALTER TABLE `accountings_income` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accountings_insurance`
--

DROP TABLE IF EXISTS `accountings_insurance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accountings_insurance` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `codigo_seguro` varchar(100) NOT NULL,
  `nombre_acreedor` varchar(150) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `monto` decimal(15,2) NOT NULL,
  `tasa` decimal(5,3) NOT NULL,
  `plazo` int NOT NULL,
  `fecha_vencimiento` date NOT NULL,
  `fecha_registro` date NOT NULL,
  `numero_referencia` varchar(255) NOT NULL,
  `observaciones` longtext,
  `boleta` varchar(100) DEFAULT NULL,
  `status` tinyint(1) NOT NULL,
  `saldo_pendiente` decimal(15,2) NOT NULL,
  `saldo_actual` decimal(15,2) NOT NULL,
  `is_paid_off` tinyint(1) NOT NULL,
  `estado_aportacion` tinyint(1) NOT NULL,
  `estados_fechas` tinyint(1) DEFAULT NULL,
  `forma_de_pago` varchar(75) NOT NULL,
  `credito_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `accountings_insuranc_credito_id_d607fd8f_fk_financing` (`credito_id`),
  CONSTRAINT `accountings_insuranc_credito_id_d607fd8f_fk_financing` FOREIGN KEY (`credito_id`) REFERENCES `financings_credit` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accountings_insurance`
--

LOCK TABLES `accountings_insurance` WRITE;
/*!40000 ALTER TABLE `accountings_insurance` DISABLE KEYS */;
INSERT INTO `accountings_insurance` VALUES (1,'SEG-2025-1','EDGAR ARMANDO ALVARADO BERMUDEZ','2024-12-15',954.00,0.000,3,'2025-03-15','2025-02-26','0','POLIZA VEHICULO TOYOTA COROLLA MODELO 2018 COLOR NEGRO PLACA P-794HSJ/ LIGADO CREDITO ANGEL LEAL','',0,954.00,954.00,0,0,NULL,'AMORTIZACIONES A CAPITAL',NULL),(2,'SEG-2025-2','EDGAR ARMANDO ALVARADO BERMUDEZ','2024-12-10',1254.00,0.000,5,'2025-05-10','2025-02-26','0','POLIZA VEHICULO JEEP SUZUKI MODELO 2002 ROJO - PLACA P-188DNS/ CREDITO DE ERICK CHUN','',0,1254.00,1254.00,0,0,NULL,'AMORTIZACIONES A CAPITAL',NULL);
/*!40000 ALTER TABLE `accountings_insurance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `addresses_address`
--

DROP TABLE IF EXISTS `addresses_address`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `addresses_address` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `street` varchar(120) NOT NULL,
  `number` varchar(90) NOT NULL,
  `city` varchar(100) NOT NULL,
  `state` varchar(90) NOT NULL,
  `country` varchar(90) NOT NULL,
  `type_address` varchar(90) NOT NULL,
  `latitud` varchar(120) NOT NULL,
  `longitud` varchar(120) NOT NULL,
  `customer_id_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `addresses_address_customer_id_id_4be9b657_fk_customers` (`customer_id_id`),
  CONSTRAINT `addresses_address_customer_id_id_4be9b657_fk_customers` FOREIGN KEY (`customer_id_id`) REFERENCES `customers_customer` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=353 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `addresses_address`
--

LOCK TABLES `addresses_address` WRITE;
/*!40000 ALTER TABLE `addresses_address` DISABLE KEYS */;
/*!40000 ALTER TABLE `addresses_address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `addresses_departamento`
--

DROP TABLE IF EXISTS `addresses_departamento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `addresses_departamento` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `addresses_departamento`
--

LOCK TABLES `addresses_departamento` WRITE;
/*!40000 ALTER TABLE `addresses_departamento` DISABLE KEYS */;
INSERT INTO `addresses_departamento` VALUES (1,'Alta Verapaz'),(2,'Baja Verapaz'),(3,'Chimaltenango'),(4,'Chiquimula'),(5,'El Progreso'),(6,'Escuintla'),(7,'Guatemala'),(8,'Huehuetenango'),(9,'Izabal'),(10,'Jalapa'),(11,'Jutiapa'),(12,'Peten'),(13,'Quetzaltenango'),(14,'Quiche'),(15,'Retalhuleu'),(16,'Sacatepequez'),(17,'San Marcos'),(18,'Santa Rosa'),(19,'Solola'),(20,'Suchitepquez'),(21,'Totonicapan'),(22,'Zacapa');
/*!40000 ALTER TABLE `addresses_departamento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `addresses_municiopio`
--

DROP TABLE IF EXISTS `addresses_municiopio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `addresses_municiopio` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) NOT NULL,
  `depart_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`),
  KEY `addresses_municiopio_depart_id_5cef7447_fk_addresses` (`depart_id`),
  CONSTRAINT `addresses_municiopio_depart_id_5cef7447_fk_addresses` FOREIGN KEY (`depart_id`) REFERENCES `addresses_departamento` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `addresses_municiopio`
--

LOCK TABLES `addresses_municiopio` WRITE;
/*!40000 ALTER TABLE `addresses_municiopio` DISABLE KEYS */;
/*!40000 ALTER TABLE `addresses_municiopio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=205 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `codes_code`
--

DROP TABLE IF EXISTS `codes_code`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `codes_code` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `number` varchar(5) NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `codes_code_user_id_2f7a75e8_fk_users_user_id` FOREIGN KEY (`user_id`) REFERENCES `users_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `codes_code`
--

LOCK TABLES `codes_code` WRITE;
/*!40000 ALTER TABLE `codes_code` DISABLE KEYS */;
INSERT INTO `codes_code` VALUES (1,'73352',3),(2,'72119',2),(3,'56842',1),(4,'93742',4);
/*!40000 ALTER TABLE `codes_code` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers_customer`
--

DROP TABLE IF EXISTS `customers_customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers_customer` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `customer_code` varchar(25) NOT NULL,
  `first_name` varchar(100) NOT NULL,
  `last_name` varchar(100) NOT NULL,
  `type_identification` varchar(50) NOT NULL,
  `identification_number` varchar(15) NOT NULL,
  `telephone` varchar(20) DEFAULT NULL,
  `email` varchar(254) NOT NULL,
  `status` varchar(75) NOT NULL,
  `date_birth` date NOT NULL,
  `number_nit` varchar(20) NOT NULL,
  `place_birth` varchar(75) NOT NULL,
  `marital_status` varchar(50) NOT NULL,
  `profession_trade` varchar(75) NOT NULL,
  `gender` varchar(50) NOT NULL,
  `nationality` varchar(75) NOT NULL,
  `person_type` varchar(50) NOT NULL,
  `description` longtext,
  `creation_date` datetime(6) NOT NULL,
  `asesor` varchar(100) DEFAULT NULL,
  `fehca_vencimiento_de_tipo_identificacion` date DEFAULT NULL,
  `user_id_id` bigint DEFAULT NULL,
  `immigration_status_id_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `customer_code` (`customer_code`),
  UNIQUE KEY `identification_number` (`identification_number`),
  UNIQUE KEY `number_nit` (`number_nit`),
  KEY `customers_customer_user_id_id_40a1eb2d_fk_users_user_id` (`user_id_id`),
  KEY `customers_customer_immigration_status_i_d0f4f60c_fk_customers` (`immigration_status_id_id`),
  CONSTRAINT `customers_customer_immigration_status_i_d0f4f60c_fk_customers` FOREIGN KEY (`immigration_status_id_id`) REFERENCES `customers_immigrationstatus` (`id`),
  CONSTRAINT `customers_customer_user_id_id_40a1eb2d_fk_users_user_id` FOREIGN KEY (`user_id_id`) REFERENCES `users_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=186 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers_customer`
--

LOCK TABLES `customers_customer` WRITE;
/*!40000 ALTER TABLE `customers_customer` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers_customer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers_immigrationstatus`
--

DROP TABLE IF EXISTS `customers_immigrationstatus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers_immigrationstatus` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `condition_name` varchar(50) NOT NULL,
  `description` longtext,
  PRIMARY KEY (`id`),
  UNIQUE KEY `condition_name` (`condition_name`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers_immigrationstatus`
--

LOCK TABLES `customers_immigrationstatus` WRITE;
/*!40000 ALTER TABLE `customers_immigrationstatus` DISABLE KEYS */;
INSERT INTO `customers_immigrationstatus` VALUES (1,'Residente temporal',''),(2,'Turista o visitante',NULL),(3,'Residente permanente',NULL),(4,'Permiso de trabajo',NULL),(5,'Persona en trnsito',NULL),(6,'Permiso consular o similar',NULL),(7,'Otra',NULL);
/*!40000 ALTER TABLE `customers_immigrationstatus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_users_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_users_user_id` FOREIGN KEY (`user_id`) REFERENCES `users_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=181 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_celery_beat_clockedschedule`
--

DROP TABLE IF EXISTS `django_celery_beat_clockedschedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_celery_beat_clockedschedule` (
  `id` int NOT NULL AUTO_INCREMENT,
  `clocked_time` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_celery_beat_clockedschedule`
--

LOCK TABLES `django_celery_beat_clockedschedule` WRITE;
/*!40000 ALTER TABLE `django_celery_beat_clockedschedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_celery_beat_clockedschedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_celery_beat_crontabschedule`
--

DROP TABLE IF EXISTS `django_celery_beat_crontabschedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_celery_beat_crontabschedule` (
  `id` int NOT NULL AUTO_INCREMENT,
  `minute` varchar(240) NOT NULL,
  `hour` varchar(96) NOT NULL,
  `day_of_week` varchar(64) NOT NULL,
  `day_of_month` varchar(124) NOT NULL,
  `month_of_year` varchar(64) NOT NULL,
  `timezone` varchar(63) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_celery_beat_crontabschedule`
--

LOCK TABLES `django_celery_beat_crontabschedule` WRITE;
/*!40000 ALTER TABLE `django_celery_beat_crontabschedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_celery_beat_crontabschedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_celery_beat_intervalschedule`
--

DROP TABLE IF EXISTS `django_celery_beat_intervalschedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_celery_beat_intervalschedule` (
  `id` int NOT NULL AUTO_INCREMENT,
  `every` int NOT NULL,
  `period` varchar(24) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_celery_beat_intervalschedule`
--

LOCK TABLES `django_celery_beat_intervalschedule` WRITE;
/*!40000 ALTER TABLE `django_celery_beat_intervalschedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_celery_beat_intervalschedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_celery_beat_periodictask`
--

DROP TABLE IF EXISTS `django_celery_beat_periodictask`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_celery_beat_periodictask` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(200) NOT NULL,
  `task` varchar(200) NOT NULL,
  `args` longtext NOT NULL,
  `kwargs` longtext NOT NULL,
  `queue` varchar(200) DEFAULT NULL,
  `exchange` varchar(200) DEFAULT NULL,
  `routing_key` varchar(200) DEFAULT NULL,
  `expires` datetime(6) DEFAULT NULL,
  `enabled` tinyint(1) NOT NULL,
  `last_run_at` datetime(6) DEFAULT NULL,
  `total_run_count` int unsigned NOT NULL,
  `date_changed` datetime(6) NOT NULL,
  `description` longtext NOT NULL,
  `crontab_id` int DEFAULT NULL,
  `interval_id` int DEFAULT NULL,
  `solar_id` int DEFAULT NULL,
  `one_off` tinyint(1) NOT NULL,
  `start_time` datetime(6) DEFAULT NULL,
  `priority` int unsigned DEFAULT NULL,
  `headers` longtext NOT NULL DEFAULT (_utf8mb3'{}'),
  `clocked_id` int DEFAULT NULL,
  `expire_seconds` int unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `django_celery_beat_p_crontab_id_d3cba168_fk_django_ce` (`crontab_id`),
  KEY `django_celery_beat_p_interval_id_a8ca27da_fk_django_ce` (`interval_id`),
  KEY `django_celery_beat_p_solar_id_a87ce72c_fk_django_ce` (`solar_id`),
  KEY `django_celery_beat_p_clocked_id_47a69f82_fk_django_ce` (`clocked_id`),
  CONSTRAINT `django_celery_beat_p_clocked_id_47a69f82_fk_django_ce` FOREIGN KEY (`clocked_id`) REFERENCES `django_celery_beat_clockedschedule` (`id`),
  CONSTRAINT `django_celery_beat_p_crontab_id_d3cba168_fk_django_ce` FOREIGN KEY (`crontab_id`) REFERENCES `django_celery_beat_crontabschedule` (`id`),
  CONSTRAINT `django_celery_beat_p_interval_id_a8ca27da_fk_django_ce` FOREIGN KEY (`interval_id`) REFERENCES `django_celery_beat_intervalschedule` (`id`),
  CONSTRAINT `django_celery_beat_p_solar_id_a87ce72c_fk_django_ce` FOREIGN KEY (`solar_id`) REFERENCES `django_celery_beat_solarschedule` (`id`),
  CONSTRAINT `django_celery_beat_periodictask_chk_1` CHECK ((`total_run_count` >= 0)),
  CONSTRAINT `django_celery_beat_periodictask_chk_2` CHECK ((`priority` >= 0)),
  CONSTRAINT `django_celery_beat_periodictask_chk_3` CHECK ((`expire_seconds` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_celery_beat_periodictask`
--

LOCK TABLES `django_celery_beat_periodictask` WRITE;
/*!40000 ALTER TABLE `django_celery_beat_periodictask` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_celery_beat_periodictask` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_celery_beat_periodictasks`
--

DROP TABLE IF EXISTS `django_celery_beat_periodictasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_celery_beat_periodictasks` (
  `ident` smallint NOT NULL,
  `last_update` datetime(6) NOT NULL,
  PRIMARY KEY (`ident`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_celery_beat_periodictasks`
--

LOCK TABLES `django_celery_beat_periodictasks` WRITE;
/*!40000 ALTER TABLE `django_celery_beat_periodictasks` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_celery_beat_periodictasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_celery_beat_solarschedule`
--

DROP TABLE IF EXISTS `django_celery_beat_solarschedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_celery_beat_solarschedule` (
  `id` int NOT NULL AUTO_INCREMENT,
  `event` varchar(24) NOT NULL,
  `latitude` decimal(9,6) NOT NULL,
  `longitude` decimal(9,6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_celery_beat_solar_event_latitude_longitude_ba64999a_uniq` (`event`,`latitude`,`longitude`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_celery_beat_solarschedule`
--

LOCK TABLES `django_celery_beat_solarschedule` WRITE;
/*!40000 ALTER TABLE `django_celery_beat_solarschedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_celery_beat_solarschedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=75 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_site`
--

DROP TABLE IF EXISTS `django_site`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_site` (
  `id` int NOT NULL AUTO_INCREMENT,
  `domain` varchar(100) NOT NULL,
  `name` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_site_domain_a2e37b91_uniq` (`domain`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_site`
--

LOCK TABLES `django_site` WRITE;
/*!40000 ALTER TABLE `django_site` DISABLE KEYS */;
INSERT INTO `django_site` VALUES (1,'example.com','example.com');
/*!40000 ALTER TABLE `django_site` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documents_document`
--

DROP TABLE IF EXISTS `documents_document`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documents_document` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `description` longtext,
  `document` varchar(100) DEFAULT NULL,
  `uploaded_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=179 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documents_document`
--

LOCK TABLES `documents_document` WRITE;
/*!40000 ALTER TABLE `documents_document` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents_document` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documents_documentaddress`
--

DROP TABLE IF EXISTS `documents_documentaddress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documents_documentaddress` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `address_id_id` bigint NOT NULL,
  `customer_id_id` bigint NOT NULL,
  `document_id_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `documents_documentad_address_id_id_8c0b5f04_fk_addresses` (`address_id_id`),
  KEY `documents_documentad_customer_id_id_b5973132_fk_customers` (`customer_id_id`),
  KEY `documents_documentad_document_id_id_346f1c92_fk_documents` (`document_id_id`),
  CONSTRAINT `documents_documentad_address_id_id_8c0b5f04_fk_addresses` FOREIGN KEY (`address_id_id`) REFERENCES `addresses_address` (`id`),
  CONSTRAINT `documents_documentad_customer_id_id_b5973132_fk_customers` FOREIGN KEY (`customer_id_id`) REFERENCES `customers_customer` (`id`),
  CONSTRAINT `documents_documentad_document_id_id_346f1c92_fk_documents` FOREIGN KEY (`document_id_id`) REFERENCES `documents_document` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documents_documentaddress`
--

LOCK TABLES `documents_documentaddress` WRITE;
/*!40000 ALTER TABLE `documents_documentaddress` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents_documentaddress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documents_documentbank`
--

DROP TABLE IF EXISTS `documents_documentbank`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documents_documentbank` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `document` varchar(100) DEFAULT NULL,
  `uploaded_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documents_documentbank`
--

LOCK TABLES `documents_documentbank` WRITE;
/*!40000 ALTER TABLE `documents_documentbank` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents_documentbank` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documents_documentcustomer`
--

DROP TABLE IF EXISTS `documents_documentcustomer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documents_documentcustomer` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `customer_id_id` bigint NOT NULL,
  `document_id_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `documents_documentcu_customer_id_id_b03694a6_fk_customers` (`customer_id_id`),
  KEY `documents_documentcu_document_id_id_32d46eb1_fk_documents` (`document_id_id`),
  CONSTRAINT `documents_documentcu_customer_id_id_b03694a6_fk_customers` FOREIGN KEY (`customer_id_id`) REFERENCES `customers_customer` (`id`),
  CONSTRAINT `documents_documentcu_document_id_id_32d46eb1_fk_documents` FOREIGN KEY (`document_id_id`) REFERENCES `documents_document` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=135 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documents_documentcustomer`
--

LOCK TABLES `documents_documentcustomer` WRITE;
/*!40000 ALTER TABLE `documents_documentcustomer` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents_documentcustomer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documents_documentguarantee`
--

DROP TABLE IF EXISTS `documents_documentguarantee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documents_documentguarantee` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `customer_id_id` bigint DEFAULT NULL,
  `document_id_id` bigint NOT NULL,
  `garantia_id` bigint DEFAULT NULL,
  `investment_plan_id_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `documents_documentgu_customer_id_id_b6a75020_fk_customers` (`customer_id_id`),
  KEY `documents_documentgu_document_id_id_fe9bbd9a_fk_documents` (`document_id_id`),
  KEY `documents_documentgu_garantia_id_757be942_fk_financing` (`garantia_id`),
  KEY `documents_documentgu_investment_plan_id_i_9cd33a21_fk_Investmen` (`investment_plan_id_id`),
  CONSTRAINT `documents_documentgu_customer_id_id_b6a75020_fk_customers` FOREIGN KEY (`customer_id_id`) REFERENCES `customers_customer` (`id`),
  CONSTRAINT `documents_documentgu_document_id_id_fe9bbd9a_fk_documents` FOREIGN KEY (`document_id_id`) REFERENCES `documents_document` (`id`),
  CONSTRAINT `documents_documentgu_garantia_id_757be942_fk_financing` FOREIGN KEY (`garantia_id`) REFERENCES `financings_detailsguarantees` (`id`),
  CONSTRAINT `documents_documentgu_investment_plan_id_i_9cd33a21_fk_Investmen` FOREIGN KEY (`investment_plan_id_id`) REFERENCES `InvestmentPlan_investmentplan` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documents_documentguarantee`
--

LOCK TABLES `documents_documentguarantee` WRITE;
/*!40000 ALTER TABLE `documents_documentguarantee` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents_documentguarantee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documents_documentother`
--

DROP TABLE IF EXISTS `documents_documentother`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documents_documentother` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `description` varchar(150) DEFAULT NULL,
  `customer_id_id` bigint NOT NULL,
  `document_id_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `documents_documentot_customer_id_id_a9a9bfe0_fk_customers` (`customer_id_id`),
  KEY `documents_documentot_document_id_id_2b689830_fk_documents` (`document_id_id`),
  CONSTRAINT `documents_documentot_customer_id_id_a9a9bfe0_fk_customers` FOREIGN KEY (`customer_id_id`) REFERENCES `customers_customer` (`id`),
  CONSTRAINT `documents_documentot_document_id_id_2b689830_fk_documents` FOREIGN KEY (`document_id_id`) REFERENCES `documents_document` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documents_documentother`
--

LOCK TABLES `documents_documentother` WRITE;
/*!40000 ALTER TABLE `documents_documentother` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents_documentother` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `financings_accountstatement`
--

DROP TABLE IF EXISTS `financings_accountstatement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `financings_accountstatement` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `issue_date` date NOT NULL,
  `disbursement_paid` decimal(10,2) NOT NULL,
  `interest_paid` decimal(10,2) NOT NULL,
  `capital_paid` decimal(10,2) NOT NULL,
  `late_fee_paid` decimal(10,2) NOT NULL,
  `saldo_pendiente` decimal(12,2) NOT NULL,
  `abono` decimal(12,2) NOT NULL,
  `numero_referencia` varchar(255) NOT NULL,
  `description` longtext,
  `credit_id` bigint DEFAULT NULL,
  `disbursement_id` bigint DEFAULT NULL,
  `payment_id` bigint DEFAULT NULL,
  `cuota_id` bigint DEFAULT NULL,
  `acreedor_id` bigint DEFAULT NULL,
  `seguro_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero_referencia` (`numero_referencia`),
  KEY `financings_accountst_credit_id_619f1f1b_fk_financing` (`credit_id`),
  KEY `financings_accountst_disbursement_id_8ba7c35c_fk_financing` (`disbursement_id`),
  KEY `financings_accountst_payment_id_6f997ba9_fk_financing` (`payment_id`),
  KEY `financings_accountst_cuota_id_0c01ed0d_fk_financing` (`cuota_id`),
  KEY `financings_accountst_acreedor_id_dd493368_fk_accountin` (`acreedor_id`),
  KEY `financings_accountst_seguro_id_052fa0d0_fk_accountin` (`seguro_id`),
  CONSTRAINT `financings_accountst_acreedor_id_dd493368_fk_accountin` FOREIGN KEY (`acreedor_id`) REFERENCES `accountings_creditor` (`id`),
  CONSTRAINT `financings_accountst_credit_id_619f1f1b_fk_financing` FOREIGN KEY (`credit_id`) REFERENCES `financings_credit` (`id`),
  CONSTRAINT `financings_accountst_cuota_id_0c01ed0d_fk_financing` FOREIGN KEY (`cuota_id`) REFERENCES `financings_paymentplan` (`id`),
  CONSTRAINT `financings_accountst_disbursement_id_8ba7c35c_fk_financing` FOREIGN KEY (`disbursement_id`) REFERENCES `financings_disbursement` (`id`),
  CONSTRAINT `financings_accountst_payment_id_6f997ba9_fk_financing` FOREIGN KEY (`payment_id`) REFERENCES `financings_payment` (`id`),
  CONSTRAINT `financings_accountst_seguro_id_052fa0d0_fk_accountin` FOREIGN KEY (`seguro_id`) REFERENCES `accountings_insurance` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=130 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `financings_accountstatement`
--

LOCK TABLES `financings_accountstatement` WRITE;
/*!40000 ALTER TABLE `financings_accountstatement` DISABLE KEYS */;
/*!40000 ALTER TABLE `financings_accountstatement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `financings_banco`
--

DROP TABLE IF EXISTS `financings_banco`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `financings_banco` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `referencia` varchar(100) NOT NULL,
  `credito` decimal(12,2) NOT NULL,
  `debito` decimal(12,2) NOT NULL,
  `descripcion` longtext,
  `creation_date` datetime(6) NOT NULL,
  `status` tinyint(1) DEFAULT '0',
  `secuencial` varchar(100) DEFAULT NULL,
  `cheque` varchar(100) DEFAULT NULL,
  `saldo_contable` decimal(12,2) DEFAULT '0.00',
  `saldo_disponible` decimal(12,2) DEFAULT '0.00',
  PRIMARY KEY (`id`),
  UNIQUE KEY `referencia` (`referencia`)
) ENGINE=InnoDB AUTO_INCREMENT=761 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `financings_banco`
--

LOCK TABLES `financings_banco` WRITE;
/*!40000 ALTER TABLE `financings_banco` DISABLE KEYS */;
/*!40000 ALTER TABLE `financings_banco` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `financings_credit`
--

DROP TABLE IF EXISTS `financings_credit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `financings_credit` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `proposito` longtext NOT NULL,
  `monto` decimal(15,2) NOT NULL,
  `plazo` int NOT NULL,
  `tasa_interes` decimal(5,3) NOT NULL,
  `forma_de_pago` varchar(75) NOT NULL,
  `frecuencia_pago` varchar(75) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_vencimiento` date NOT NULL,
  `tipo_credito` varchar(75) NOT NULL,
  `codigo_credito` varchar(25) DEFAULT NULL,
  `creation_date` datetime(6) NOT NULL,
  `is_paid_off` tinyint(1) NOT NULL,
  `tasa_mora` decimal(15,2) NOT NULL,
  `saldo_pendiente` decimal(15,2) NOT NULL,
  `saldo_actual` decimal(15,2) NOT NULL,
  `estado_aportacion` tinyint(1) NOT NULL,
  `estados_fechas` tinyint(1) DEFAULT NULL,
  `desembolsado_completo` tinyint(1) NOT NULL,
  `plazo_restante` int DEFAULT NULL,
  `customer_id_id` bigint NOT NULL,
  `destino_id_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `financings_credit_customer_id_id_dd816f29_fk_customers` (`customer_id_id`),
  KEY `financings_credit_destino_id_id_e5fb34bb_fk_Investmen` (`destino_id_id`),
  CONSTRAINT `financings_credit_customer_id_id_dd816f29_fk_customers` FOREIGN KEY (`customer_id_id`) REFERENCES `customers_customer` (`id`),
  CONSTRAINT `financings_credit_destino_id_id_e5fb34bb_fk_Investmen` FOREIGN KEY (`destino_id_id`) REFERENCES `InvestmentPlan_investmentplan` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=67 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `financings_credit`
--

LOCK TABLES `financings_credit` WRITE;
/*!40000 ALTER TABLE `financings_credit` DISABLE KEYS */;
/*!40000 ALTER TABLE `financings_credit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `financings_cuota`
--

DROP TABLE IF EXISTS `financings_cuota`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `financings_cuota` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `mes` int DEFAULT NULL,
  `start_date` datetime(6) NOT NULL,
  `due_date` datetime(6) DEFAULT NULL,
  `outstanding_balance` decimal(12,2) NOT NULL,
  `mora` decimal(12,2) NOT NULL,
  `interest` decimal(12,2) NOT NULL,
  `principal` decimal(12,2) NOT NULL,
  `installment` decimal(12,2) NOT NULL,
  `status` tinyint(1) NOT NULL,
  `saldo_pendiente` decimal(12,2) NOT NULL,
  `interes_pagado` decimal(12,2) NOT NULL,
  `mora_pagado` decimal(12,2) NOT NULL,
  `fecha_limite` datetime(6) DEFAULT NULL,
  `cambios` tinyint(1) NOT NULL,
  `numero_referencia` varchar(255) DEFAULT NULL,
  `cuota_vencida` tinyint(1) NOT NULL,
  `credit_id_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `financings_cuota_credit_id_id_e18a5119_fk_financings_credit_id` (`credit_id_id`),
  CONSTRAINT `financings_cuota_credit_id_id_e18a5119_fk_financings_credit_id` FOREIGN KEY (`credit_id_id`) REFERENCES `financings_credit` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `financings_cuota`
--

LOCK TABLES `financings_cuota` WRITE;
/*!40000 ALTER TABLE `financings_cuota` DISABLE KEYS */;
/*!40000 ALTER TABLE `financings_cuota` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `financings_detailsguarantees`
--

DROP TABLE IF EXISTS `financings_detailsguarantees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `financings_detailsguarantees` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `tipo_garantia` varchar(75) NOT NULL,
  `especificaciones` json NOT NULL,
  `valor_cobertura` decimal(15,2) NOT NULL,
  `garantia_id_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `financings_detailsgu_garantia_id_id_5e4946d9_fk_financing` (`garantia_id_id`),
  CONSTRAINT `financings_detailsgu_garantia_id_id_5e4946d9_fk_financing` FOREIGN KEY (`garantia_id_id`) REFERENCES `financings_guarantees` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=59 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `financings_detailsguarantees`
--

LOCK TABLES `financings_detailsguarantees` WRITE;
/*!40000 ALTER TABLE `financings_detailsguarantees` DISABLE KEYS */;
/*!40000 ALTER TABLE `financings_detailsguarantees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `financings_disbursement`
--

DROP TABLE IF EXISTS `financings_disbursement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `financings_disbursement` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `forma_desembolso` varchar(75) NOT NULL,
  `monto_credito` decimal(15,2) NOT NULL,
  `monto_credito_agregar` decimal(15,2) NOT NULL,
  `monto_credito_cancelar` decimal(15,2) NOT NULL,
  `saldo_anterior` decimal(15,2) NOT NULL,
  `honorarios` decimal(15,2) NOT NULL,
  `poliza_seguro` decimal(15,2) NOT NULL,
  `monto_desembolsado` decimal(15,2) NOT NULL,
  `total_gastos` decimal(15,2) NOT NULL,
  `monto_total_desembolso` decimal(15,2) NOT NULL,
  `total_t` decimal(15,2) NOT NULL,
  `credit_id_id` bigint NOT NULL,
  `description` longtext,
  PRIMARY KEY (`id`),
  KEY `financings_disbursem_credit_id_id_ec9319be_fk_financing` (`credit_id_id`),
  CONSTRAINT `financings_disbursem_credit_id_id_ec9319be_fk_financing` FOREIGN KEY (`credit_id_id`) REFERENCES `financings_credit` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=67 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `financings_disbursement`
--

LOCK TABLES `financings_disbursement` WRITE;
/*!40000 ALTER TABLE `financings_disbursement` DISABLE KEYS */;
/*!40000 ALTER TABLE `financings_disbursement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `financings_guarantees`
--

DROP TABLE IF EXISTS `financings_guarantees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `financings_guarantees` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `descripcion` longtext NOT NULL,
  `suma_total` decimal(15,2) NOT NULL,
  `credit_id_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `financings_guarantee_credit_id_id_b1ded392_fk_financing` (`credit_id_id`),
  CONSTRAINT `financings_guarantee_credit_id_id_b1ded392_fk_financing` FOREIGN KEY (`credit_id_id`) REFERENCES `financings_credit` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=59 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `financings_guarantees`
--

LOCK TABLES `financings_guarantees` WRITE;
/*!40000 ALTER TABLE `financings_guarantees` DISABLE KEYS */;
/*!40000 ALTER TABLE `financings_guarantees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `financings_invoice`
--

DROP TABLE IF EXISTS `financings_invoice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `financings_invoice` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `issue_date` date NOT NULL,
  `numero_factura` int NOT NULL,
  `recibo_id_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `financings_invoice_recibo_id_id_05aaffc8_fk_financings_recibo_id` (`recibo_id_id`),
  CONSTRAINT `financings_invoice_recibo_id_id_05aaffc8_fk_financings_recibo_id` FOREIGN KEY (`recibo_id_id`) REFERENCES `financings_recibo` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `financings_invoice`
--

LOCK TABLES `financings_invoice` WRITE;
/*!40000 ALTER TABLE `financings_invoice` DISABLE KEYS */;
INSERT INTO `financings_invoice` VALUES (2,'2025-01-21',1,3),(3,'2025-02-17',2,12);
/*!40000 ALTER TABLE `financings_invoice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `financings_payment`
--

DROP TABLE IF EXISTS `financings_payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `financings_payment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `monto` decimal(12,2) NOT NULL,
  `numero_referencia` varchar(255) NOT NULL,
  `fecha_emision` datetime(6) NOT NULL,
  `fecha_creacion` datetime(6) NOT NULL,
  `estado_transaccion` varchar(20) NOT NULL,
  `descripcion` longtext,
  `mora` decimal(12,2) NOT NULL,
  `interes` decimal(12,2) NOT NULL,
  `interes_generado` decimal(12,2) NOT NULL,
  `capital` decimal(12,2) NOT NULL,
  `capital_generado` decimal(12,2) NOT NULL,
  `boleta` varchar(100) DEFAULT NULL,
  `tipo_pago` varchar(75) NOT NULL,
  `descripcion_estado` longtext,
  `creation_date` datetime(6) NOT NULL,
  `credit_id` bigint DEFAULT NULL,
  `disbursement_id` bigint DEFAULT NULL,
  `cliente_id` bigint DEFAULT NULL,
  `acreedor_id` bigint DEFAULT NULL,
  `seguro_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero_referencia` (`numero_referencia`),
  KEY `financings_payment_credit_id_f9a3a746_fk_financings_credit_id` (`credit_id`),
  KEY `financings_payment_disbursement_id_21f86fb6_fk_financing` (`disbursement_id`),
  KEY `financings_payment_cliente_id_5b81a13f_fk_customers_customer_id` (`cliente_id`),
  KEY `financings_payment_acreedor_id_d1c508ae_fk_accountin` (`acreedor_id`),
  KEY `financings_payment_seguro_id_511daaa6_fk_accountin` (`seguro_id`),
  CONSTRAINT `financings_payment_acreedor_id_d1c508ae_fk_accountin` FOREIGN KEY (`acreedor_id`) REFERENCES `accountings_creditor` (`id`),
  CONSTRAINT `financings_payment_cliente_id_5b81a13f_fk_customers_customer_id` FOREIGN KEY (`cliente_id`) REFERENCES `customers_customer` (`id`),
  CONSTRAINT `financings_payment_credit_id_f9a3a746_fk_financings_credit_id` FOREIGN KEY (`credit_id`) REFERENCES `financings_credit` (`id`),
  CONSTRAINT `financings_payment_disbursement_id_21f86fb6_fk_financing` FOREIGN KEY (`disbursement_id`) REFERENCES `financings_disbursement` (`id`),
  CONSTRAINT `financings_payment_seguro_id_511daaa6_fk_accountin` FOREIGN KEY (`seguro_id`) REFERENCES `accountings_insurance` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=371 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `financings_payment`
--

LOCK TABLES `financings_payment` WRITE;
/*!40000 ALTER TABLE `financings_payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `financings_payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `financings_paymentplan`
--

DROP TABLE IF EXISTS `financings_paymentplan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `financings_paymentplan` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `mes` int DEFAULT NULL,
  `start_date` datetime(6) NOT NULL,
  `due_date` datetime(6) DEFAULT NULL,
  `outstanding_balance` decimal(12,2) NOT NULL,
  `mora` decimal(12,2) NOT NULL,
  `interest` decimal(12,2) NOT NULL,
  `principal` decimal(12,2) NOT NULL,
  `principal_pagado` decimal(12,2) NOT NULL,
  `installment` decimal(12,2) NOT NULL,
  `status` tinyint(1) NOT NULL,
  `saldo_pendiente` decimal(12,2) NOT NULL,
  `interes_pagado` decimal(12,2) NOT NULL,
  `mora_pagado` decimal(12,2) NOT NULL,
  `fecha_limite` datetime(6) DEFAULT NULL,
  `cambios` tinyint(1) NOT NULL,
  `numero_referencia` varchar(255) DEFAULT NULL,
  `cuota_vencida` tinyint(1) NOT NULL,
  `interes_generado` decimal(12,2) NOT NULL,
  `capital_generado` decimal(12,2) NOT NULL,
  `interes_acumulado_generado` decimal(12,2) NOT NULL,
  `mora_acumulado_generado` decimal(12,2) NOT NULL,
  `mora_generado` decimal(12,2) NOT NULL,
  `paso_por_task` tinyint(1) NOT NULL,
  `credit_id_id` bigint DEFAULT NULL,
  `acreedor_id` bigint DEFAULT NULL,
  `seguro_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `financings_paymentpl_credit_id_id_d27b8c8c_fk_financing` (`credit_id_id`),
  KEY `financings_paymentpl_acreedor_id_39d2d313_fk_accountin` (`acreedor_id`),
  KEY `financings_paymentpl_seguro_id_65c02236_fk_accountin` (`seguro_id`),
  CONSTRAINT `financings_paymentpl_acreedor_id_39d2d313_fk_accountin` FOREIGN KEY (`acreedor_id`) REFERENCES `accountings_creditor` (`id`),
  CONSTRAINT `financings_paymentpl_credit_id_id_d27b8c8c_fk_financing` FOREIGN KEY (`credit_id_id`) REFERENCES `financings_credit` (`id`),
  CONSTRAINT `financings_paymentpl_seguro_id_65c02236_fk_accountin` FOREIGN KEY (`seguro_id`) REFERENCES `accountings_insurance` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=183 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `financings_paymentplan`
--

LOCK TABLES `financings_paymentplan` WRITE;
/*!40000 ALTER TABLE `financings_paymentplan` DISABLE KEYS */;
/*!40000 ALTER TABLE `financings_paymentplan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `financings_recibo`
--

DROP TABLE IF EXISTS `financings_recibo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `financings_recibo` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `recibo` int NOT NULL,
  `interes` decimal(12,2) NOT NULL,
  `interes_pagado` decimal(12,2) NOT NULL,
  `mora` decimal(12,2) NOT NULL,
  `mora_pagada` decimal(12,2) NOT NULL,
  `aporte_capital` decimal(12,2) NOT NULL,
  `total` decimal(12,2) NOT NULL,
  `factura` tinyint(1) NOT NULL,
  `cliente_id` bigint DEFAULT NULL,
  `cuota_id` bigint DEFAULT NULL,
  `pago_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `financings_recibo_cliente_id_4aa46e17_fk_customers_customer_id` (`cliente_id`),
  KEY `financings_recibo_cuota_id_bc8165c5_fk_financings_paymentplan_id` (`cuota_id`),
  KEY `financings_recibo_pago_id_b161782e_fk_financings_payment_id` (`pago_id`),
  CONSTRAINT `financings_recibo_cliente_id_4aa46e17_fk_customers_customer_id` FOREIGN KEY (`cliente_id`) REFERENCES `customers_customer` (`id`),
  CONSTRAINT `financings_recibo_cuota_id_bc8165c5_fk_financings_paymentplan_id` FOREIGN KEY (`cuota_id`) REFERENCES `financings_paymentplan` (`id`),
  CONSTRAINT `financings_recibo_pago_id_b161782e_fk_financings_payment_id` FOREIGN KEY (`pago_id`) REFERENCES `financings_payment` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `financings_recibo`
--

LOCK TABLES `financings_recibo` WRITE;
/*!40000 ALTER TABLE `financings_recibo` DISABLE KEYS */;
/*!40000 ALTER TABLE `financings_recibo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pictures_imagen`
--

DROP TABLE IF EXISTS `pictures_imagen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pictures_imagen` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `image` varchar(100) DEFAULT NULL,
  `description` longtext,
  `uploaded_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=292 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pictures_imagen`
--

LOCK TABLES `pictures_imagen` WRITE;
/*!40000 ALTER TABLE `pictures_imagen` DISABLE KEYS */;
/*!40000 ALTER TABLE `pictures_imagen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pictures_imagenaddress`
--

DROP TABLE IF EXISTS `pictures_imagenaddress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pictures_imagenaddress` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `address_id_id` bigint NOT NULL,
  `customer_id_id` bigint NOT NULL,
  `image_id_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `pictures_imagenaddre_address_id_id_b0e14d58_fk_addresses` (`address_id_id`),
  KEY `pictures_imagenaddre_customer_id_id_4bd3d5b7_fk_customers` (`customer_id_id`),
  KEY `pictures_imagenaddre_image_id_id_9596ae0d_fk_pictures_` (`image_id_id`),
  CONSTRAINT `pictures_imagenaddre_address_id_id_b0e14d58_fk_addresses` FOREIGN KEY (`address_id_id`) REFERENCES `addresses_address` (`id`),
  CONSTRAINT `pictures_imagenaddre_customer_id_id_4bd3d5b7_fk_customers` FOREIGN KEY (`customer_id_id`) REFERENCES `customers_customer` (`id`),
  CONSTRAINT `pictures_imagenaddre_image_id_id_9596ae0d_fk_pictures_` FOREIGN KEY (`image_id_id`) REFERENCES `pictures_imagen` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pictures_imagenaddress`
--

LOCK TABLES `pictures_imagenaddress` WRITE;
/*!40000 ALTER TABLE `pictures_imagenaddress` DISABLE KEYS */;
/*!40000 ALTER TABLE `pictures_imagenaddress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pictures_imagencustomer`
--

DROP TABLE IF EXISTS `pictures_imagencustomer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pictures_imagencustomer` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `customer_id_id` bigint NOT NULL,
  `image_id_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `pictures_imagencusto_customer_id_id_8869748f_fk_customers` (`customer_id_id`),
  KEY `pictures_imagencusto_image_id_id_cb991545_fk_pictures_` (`image_id_id`),
  CONSTRAINT `pictures_imagencusto_customer_id_id_8869748f_fk_customers` FOREIGN KEY (`customer_id_id`) REFERENCES `customers_customer` (`id`),
  CONSTRAINT `pictures_imagencusto_image_id_id_cb991545_fk_pictures_` FOREIGN KEY (`image_id_id`) REFERENCES `pictures_imagen` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=292 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pictures_imagencustomer`
--

LOCK TABLES `pictures_imagencustomer` WRITE;
/*!40000 ALTER TABLE `pictures_imagencustomer` DISABLE KEYS */;
/*!40000 ALTER TABLE `pictures_imagencustomer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pictures_imagenguarantee`
--

DROP TABLE IF EXISTS `pictures_imagenguarantee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pictures_imagenguarantee` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `customer_id_id` bigint NOT NULL,
  `image_id_id` bigint NOT NULL,
  `investment_plan_id_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `pictures_imagenguara_customer_id_id_37492531_fk_customers` (`customer_id_id`),
  KEY `pictures_imagenguara_image_id_id_e097d620_fk_pictures_` (`image_id_id`),
  KEY `pictures_imagenguara_investment_plan_id_i_1f0c7cc5_fk_Investmen` (`investment_plan_id_id`),
  CONSTRAINT `pictures_imagenguara_customer_id_id_37492531_fk_customers` FOREIGN KEY (`customer_id_id`) REFERENCES `customers_customer` (`id`),
  CONSTRAINT `pictures_imagenguara_image_id_id_e097d620_fk_pictures_` FOREIGN KEY (`image_id_id`) REFERENCES `pictures_imagen` (`id`),
  CONSTRAINT `pictures_imagenguara_investment_plan_id_i_1f0c7cc5_fk_Investmen` FOREIGN KEY (`investment_plan_id_id`) REFERENCES `InvestmentPlan_investmentplan` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pictures_imagenguarantee`
--

LOCK TABLES `pictures_imagenguarantee` WRITE;
/*!40000 ALTER TABLE `pictures_imagenguarantee` DISABLE KEYS */;
/*!40000 ALTER TABLE `pictures_imagenguarantee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pictures_imagenother`
--

DROP TABLE IF EXISTS `pictures_imagenother`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pictures_imagenother` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `description` varchar(150) DEFAULT NULL,
  `customer_id_id` bigint NOT NULL,
  `image_id_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `pictures_imagenother_customer_id_id_8c4ceb53_fk_customers` (`customer_id_id`),
  KEY `pictures_imagenother_image_id_id_cc573d0b_fk_pictures_imagen_id` (`image_id_id`),
  CONSTRAINT `pictures_imagenother_customer_id_id_8c4ceb53_fk_customers` FOREIGN KEY (`customer_id_id`) REFERENCES `customers_customer` (`id`),
  CONSTRAINT `pictures_imagenother_image_id_id_cc573d0b_fk_pictures_imagen_id` FOREIGN KEY (`image_id_id`) REFERENCES `pictures_imagen` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pictures_imagenother`
--

LOCK TABLES `pictures_imagenother` WRITE;
/*!40000 ALTER TABLE `pictures_imagenother` DISABLE KEYS */;
/*!40000 ALTER TABLE `pictures_imagenother` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles_role`
--

DROP TABLE IF EXISTS `roles_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles_role` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `role_name` varchar(100) NOT NULL,
  `description` longtext,
  PRIMARY KEY (`id`),
  UNIQUE KEY `role_name` (`role_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles_role`
--

LOCK TABLES `roles_role` WRITE;
/*!40000 ALTER TABLE `roles_role` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles_role_permissions`
--

DROP TABLE IF EXISTS `roles_role_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles_role_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `role_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `roles_role_permissions_role_id_permission_id_02b8688f_uniq` (`role_id`,`permission_id`),
  KEY `roles_role_permissio_permission_id_9fa0c0ee_fk_auth_perm` (`permission_id`),
  CONSTRAINT `roles_role_permissio_permission_id_9fa0c0ee_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `roles_role_permissions_role_id_0e786fbb_fk_roles_role_id` FOREIGN KEY (`role_id`) REFERENCES `roles_role` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles_role_permissions`
--

LOCK TABLES `roles_role_permissions` WRITE;
/*!40000 ALTER TABLE `roles_role_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles_role_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles_userrole`
--

DROP TABLE IF EXISTS `roles_userrole`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles_userrole` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `idRole_id` bigint NOT NULL,
  `idUser_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `roles_userrole_idRole_id_66c2fc1c_fk_roles_role_id` (`idRole_id`),
  KEY `roles_userrole_idUser_id_f96c532c_fk_users_user_id` (`idUser_id`),
  CONSTRAINT `roles_userrole_idRole_id_66c2fc1c_fk_roles_role_id` FOREIGN KEY (`idRole_id`) REFERENCES `roles_role` (`id`),
  CONSTRAINT `roles_userrole_idUser_id_f96c532c_fk_users_user_id` FOREIGN KEY (`idUser_id`) REFERENCES `users_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles_userrole`
--

LOCK TABLES `roles_userrole` WRITE;
/*!40000 ALTER TABLE `roles_userrole` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles_userrole` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_user`
--

DROP TABLE IF EXISTS `users_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `type_identification` varchar(50) NOT NULL,
  `identification_number` varchar(15) NOT NULL,
  `telephone` varchar(20) DEFAULT NULL,
  `email` varchar(254) NOT NULL,
  `status` tinyint(1) NOT NULL,
  `gender` varchar(50) NOT NULL,
  `user_code` varchar(25) NOT NULL,
  `nationality` varchar(75) NOT NULL,
  `profile_pic` varchar(100) DEFAULT NULL,
  `rol` varchar(50) NOT NULL,
  `creation_date` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `identification_number` (`identification_number`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `user_code` (`user_code`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_user`
--

LOCK TABLES `users_user` WRITE;
/*!40000 ALTER TABLE `users_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_user_groups`
--

DROP TABLE IF EXISTS `users_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_user_groups_user_id_group_id_b88eab82_uniq` (`user_id`,`group_id`),
  KEY `users_user_groups_group_id_9afc8d0e_fk_auth_group_id` (`group_id`),
  CONSTRAINT `users_user_groups_group_id_9afc8d0e_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `users_user_groups_user_id_5f6f5a90_fk_users_user_id` FOREIGN KEY (`user_id`) REFERENCES `users_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_user_groups`
--

LOCK TABLES `users_user_groups` WRITE;
/*!40000 ALTER TABLE `users_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_user_user_permissions`
--

DROP TABLE IF EXISTS `users_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_user_user_permissions_user_id_permission_id_43338c45_uniq` (`user_id`,`permission_id`),
  KEY `users_user_user_perm_permission_id_0b93982e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `users_user_user_perm_permission_id_0b93982e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `users_user_user_permissions_user_id_20aca447_fk_users_user_id` FOREIGN KEY (`user_id`) REFERENCES `users_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_user_user_permissions`
--

LOCK TABLES `users_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `users_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-03-05 22:35:08
