{% load static %}
<div class="row">
    <div class="col-12" style="text-align: center;">
        <div class="table-responsive mb-4">
            <table  style="font-size: 14px;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Código Cliente</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo Electrónico</th>
                        <th scope="col">CUI</th>
                        <th scope="col">NIT</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Género</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha de Registro</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customer_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a class="row-link" href="{% url 'customers:detail' customer.customer_code %}">
                                {{ customer.customer_code }}
                            </a>
                        </td>
                        <td>
                            <a class="row-link" href="{% url 'customers:detail' customer.customer_code %}">
                                {{ customer.first_name }} {{ customer.last_name }}
                            </a>
                        </td>
                        <td>
                            <a class="row-link" href="{% url 'customers:detail' customer.customer_code %}">
                                {{ customer.email }}
                            </a>
                        </td>
                        <td>
                            <a class="row-link" href="{% url 'customers:detail' customer.customer_code %}">
                                {{ customer.identification_number }}
                            </a>
                        </td>
                        <td>
                            <a class="row-link" href="{% url 'customers:detail' customer.customer_code %}">
                                {{ customer.number_nit }}
                            </a>
                        </td>
                        <td>
                            <a class="row-link" href="{% url 'customers:detail' customer.customer_code %}">
                                {{ customer.telephone }}
                            </a>
                        </td>
                        <td>
                            <a class="row-link" href="{% url 'customers:detail' customer.customer_code %}">
                                {{ customer.gender }}
                            </a>
                        </td>
                        <td>
                            <a class="row-link" href="{% url 'customers:detail' customer.customer_code %}">
                                {{ customer.status }}
                            </a>
                        </td>
                        <td>
                            <a class="row-link" href="{% url 'customers:detail' customer.customer_code %}">
                                {{ customer.creation_date }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>