{% load static %}
<div class="row">
    <div class="col-1" >
        <h6>Filtros</h6>
        <hr>
    </div>

    <div class="col-11 " style="text-align: center;">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo Electronico</th>
                        <th scope="col">CUI</th>
                        <th scope="col">NIT</th>
                        <th scope="col">Numero de Telefono</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Status Cliente</th>
                        <th scope="col">Status Bancario</th>
                        <th scope="col">Fecha Registro</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</div>
