{% load static %}


{% for field in form %}

<div class="form-group mb-3">
  <label for="{{ field.id_for_label }}" class="form-label fw-bold">
    {{ field.label }}
  </label>
  {{ field }}
  {% if field.errors %}
  {{ field.errors }}
  {% endif %}
</div>
<br />

{% endfor %}
<div class="row">
  <div class="mb-3">
    <label for="formFileMultiple" class="form-label fw-bold">Documento De La Gestión Realizada</label>
    <input class="form-control" type="file" id="formFileMultiple" name="archivos[]" multiple required>

  </div>
</div>