<div id="m_modal" class="m_modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Créditos Pendientes de Gestionar</h2>
            <button class="close-btn" onclick="closeModal()">&times;</button>
        </div>

        <div id="credits-list-pendientes">
            <!-- Los créditos se cargarán aquí dinámicamente -->
        </div>
    </div>
</div>

<div id="m_modal_vigente" class="m_modal_vigente">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Créditos Vigentes</h2>
            <button class="close-btn" onclick="closeModalVigente()">&times;</button>
        </div>

        <div id="credits-list-vigentes">
            <!-- Los créditos se cargarán aquí dinámicamente -->
        </div>
    </div>
</div>


