<nav>

    <form class="d-flex" action="{% url 'customers:detail_informe_cobranza' user_code report.id %}" id="searchForm">

        <!-- Input de búsqueda normal -->
        <input class="form-control me-2" name="q" value="{{ query }}" type="search" placeholder="Buscar"
            aria-label="Search">


        <!-- Input de calendario -->
        <input class="form-control me-2" type="date" name="fecha" value="{{ fecha }}">



        <button class="btn btn-outline-dark" type="submit">Buscar</button>
    </form>

</nav>

<script>
    document.getElementById("searchForm").addEventListener("submit", function (e) {
        // Selecciona cualquier input, select o textarea
        const qInput = this.querySelector("[name='q']");
        const fechaInput = this.querySelector("[name='fecha']");


        if (qInput && !qInput.value.trim()) {
            qInput.removeAttribute("name"); // elimina si está vacío
        }
        if (fechaInput && !fechaInput.value.trim()) {
            fechaInput.removeAttribute("name");
        }

    });
</script>