{% load static %}
<!-- Encabezado y Breadcrumbs -->
<div class="mb-4">
    <h3 class="mb-2">Detalles del Crédito: <span class="fst-italic">{{credit_list.codigo_credito}}</span></h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent p-0 m-0">
            <li class="breadcrumb-item"><a href="{% url 'customers:customers' %}"
                    class="text-primary text-decoration-none">Clientes</a></li>
            <li class="breadcrumb-item"><a href="{% url 'financings:list_credit' %}"
                    class="text-primary text-decoration-none">Créditos</a></li>
            <li class="breadcrumb-item"><a href="{% url 'customers:detail' customer_list.customer_code %}"
                    class="text-primary text-decoration-none">{{customer_list.first_name}}
                    {{customer_list.last_name}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{credit_list.codigo_credito}}</li>
        </ol>
    </nav>
</div>
<!-- Datos principales del crédito -->
<div class="row mb-4">
    <!-- Propósito, Tipo y Forma -->
    <div class="col-md-4 mb-3">
        <div class="card border-0 shadow-sm h-100">
            <div class="card-body">
                <h5 class="card-title mb-3"><i class="bi bi-info-circle-fill me-2"></i>Información Básica</h5>
                <p class="mb-2"><strong>PROPOSITO:</strong> <span class="fw-light">{{credit_list.proposito}}</span></p>
                <p class="mb-2"><strong>TIPO DE CREDITO:</strong> <span
                        class="fw-light">{{credit_list.tipo_credito}}</span></p>
                <p class="mb-0"><strong>FORMA DE PAGO:</strong> <span
                        class="fw-light">{{credit_list.forma_de_pago}}</span></p>
                <p class="mb-0"><strong>ASESOR DE CREDITO:</strong> <span
                        class="fw-light">{{credit_list.asesor_de_credito}}</span></p>
                <p class="mb-0"><strong>SUCURSAL DEL CREDITO:</strong> <span
                        class="fw-light">{{credit_list.sucursal}}</span></p>
                <div class="rating">
                    {% for star in credit_list.get_star_rating %}
                    {% if star == 'full' %}
                    <i class="fa-solid fa-star text-warning"></i>
                    {% elif star == 'half' %}
                    <i class="fa-solid fa-star-half-stroke text-warning"></i>
                    {% else %}
                    <i class="fa-regular fa-star text-warning"></i>
                    {% endif %}
                    {% endfor %}
                    <span>({{ credit_list.valoracion|floatformat:1 }})</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Estado del crédito y aportación -->
    <div class="col-md-4 mb-3">
        <div class="card border-0 shadow-sm h-100">
            <div class="card-body">
                <h5 class="card-title mb-3"><i class="bi bi-bar-chart-line-fill me-2"></i>Estados</h5>
                <p class="mb-2">
                    <strong>ESTADO DEL CRÉDITO:</strong>
                    {% if credit_list.estado_judicial %}
                    <span class="inactivo">EN PROCESO JUDICIAL</span>
                    {% else %}
                    <span class="{% if credit_list.is_paid_off %}inactivo{% else %}activo{% endif %}">
                        {{credit_list.formato_credito_cancelado}}
                    </span>
                    {% endif %}
                </p>
                <p class="mb-2">
                    <strong>ESTADO POR APORTACIÓN:</strong>
                    <span
                        class="{% if credit_list.estado_aportacion %}activo{% elif credit_list.estado_aportacion is none %}neutro{% else %}inactivo{% endif %}">
                        {{credit_list.formato_estado_aportacion}}
                    </span>
                </p>
                <p class="mb-0">
                    <strong>ESTADO POR FECHAS:</strong>
                    <span class="{% if credit_list.estados_fechas %}activo{% else %}inactivo{% endif %}">
                        {{credit_list.formato_estado_fecha}}
                    </span>
                </p>
                
                <p class="mb-0">
                    <strong>ESTADO POR COBRANZA:</strong>
                    
                </p>
            </div>
        </div>
    </div>

    <!-- Montos y fechas -->
    <div class="col-md-4 mb-3">
        <div class="card border-0 shadow-sm h-100">
            <div class="card-body">
                <h5 class="card-title mb-3"><i class="bi bi-calendar-range-fill me-2"></i>Fechas y Montos</h5>
                <p class="mb-2"><strong>MONTO DEL PRÉSTAMO:</strong> <span class="fw-light">Q
                        {{credit_list.formato_monto}}</span></p>
                
                        {% if credit_list.excedente > 0 %}
                        <p class="mb-2"><strong>SALDO EXCEDENTE:</strong> <span class="fw-light">Q
                        {{credit_list.formato_saldo_excedente}} </span></p>
                            {% else %}
                <p class="mb-2"><strong>SALDO ACTUAL:</strong> <span class="fw-light">Q
                        {{credit_list.formato_saldo_actual}} <small>Al
                            {{siguiente_pago.mostrar_fecha_limite}}</small></span></p>
                            {% endif %}


                <p class="mb-2"><strong>PLAZO:</strong> <span class="fw-light">{{credit_list.plazo}} MESES</span></p>
                <p class="mb-0"><strong>TASA DE INTERÉS MENSUAL:</strong> <span
                        class="fw-light">{{credit_list.tasa_mensual}}%</span></p>
            </div>
        </div>
    </div>
</div>

<!-- Fechas importantes -->
<div class="row mb-4 d-flex align-items-center">
    <div class="col-md-4 mb-3">
        <p class="mb-0"><strong>FECHA DE INICIO:</strong> <span class="fw-light">{{credit_list.fecha_inicio}}</span></p>
    </div>
    <div class="col-md-4 mb-3">
        <p class="mb-0"><strong>FECHA VENCIMIENTO:</strong> <span
                class="fw-light">{{credit_list.fecha_vencimiento}}</span></p>
    </div>
    <div class="col-md-4 mb-3">
        <p class="mb-0"><strong>DIAS DE MORA:</strong> <span
                class="fw-light">{{credit_list.dias_de_mora}} DIAS</span></p>
    </div>
    <div class="col-md-4 mb-3">
        <p class="mb-0"><strong>FECHA DE CREACIÓN:</strong> <span class="fw-light">{{credit_list.creation_date}}</span>
        </p>
    </div>
</div>

<!-- Botonoes de mensaje de recordatorio, cambio de estado juridico -->
<div class="row mb-4 d-flex align-items-center">
    <div class="col-md-3 mb-3">
        <button class="btn_cancel" id="mandar_mensaje" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Mensaje de Recordatorio"
                data-bs-original-title="Mensaje de Recordatorio">
            <i class="bi bi-whatsapp"></i>
            Mandar Recordatorio
        </button>
    </div>
    <div class="col-md-3 mb-3">
        <button class="btn_cancel" id="mandar_mensaje_saldo_actual" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Mensaje de Saldo Actual"
                data-bs-original-title="Mensaje de Saldo Actual">
            <i class="bi bi-whatsapp"></i>
            Mandar Saldo Actual
        </button>
    </div>
    
    <div class="col-md-3 mb-3">
        {% include 'votacion/snippets/modal_credito.html' with form=form%}
    </div>
    

</div>
<div class="row mb-4 d-flex align-items-center"> 
{% if permisos.puede_asignar_estado_judicial %}

    <div class="col-md-3 mb-3">
        {% if credit_list.estado_judicial %}
        <a href="{% url 'financings:cambiar_estado_judicial_false' credit_list.id %}" class="btn_edit"
            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Cambiar El Estado del Credito"
            aria-label="Cambiar El Estado del Credito">
            Cambiar El Estado Del Credito a Juridico
        </a>
        {% else %}
        <a href="{% url 'financings:cambiar_estado_judicial' credit_list.id %}" class="btn_cancel"
            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Cambiar El Estado del Credito"
            aria-label="Cambiar El Estado del Credito">
            Cambiar El Estado Del Credito a Juridico
        </a>
        {% endif %}
    </div>
    {% endif %}
</div>