{% load static %}


<div class="row">
    <div class="col-12 ">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">No. Referencia</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Monto Pagado</th>
                        <th scope="col">Mora Pagado</th>
                        <th scope="col">Interes Pagado</th>
                        <th scope="col">Capital Pagado</th>
                        <th scope="col">Saldo Pendiente</th>

                    </tr>
                </thead>
                <tbody>
                    {% for credit in estado_cuenta %}

                    <tr>
                        <td scope="row">

                            {{credit.issue_date}}


                        </td>
                        <td scope="row">

                            {{credit.numero_referencia}}

                        </td>
                        <td scope="row">
                            {{credit.description}}
                        </td>
                        <td scope="row">
                            {{credit.abono}}
                        </td>
                        <td scope="row">
                            {{credit.late_fee_paid}}
                        </td>
                        <td scope="row">
                            {{credit.interest_paid}}
                        </td>
                        <td scope="row">
                            {{credit.capital_paid}}
                        </td>
                        <td scope="row">
                            {{credit.saldo_pendiente}}
                        </td>








                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    {% for sigue in siguiente_pago%}
    <p>PARA EL SIGUIENTE PAGO LA CUOTA ES : Q{{sigue.installment}}</p>
    <p>Y EL TOTAL PARA CANCELAR: Q{{sigue.total}}</p>
    <p>LA FECHA LIMITE DE PAGO ES: {{sigue.due_date}}</p>
    {% endfor %}


</div>