<form method="POST">
    {% csrf_token %}
    <label for="mes">Mes:</label>
    <select name="mes" id="mes">
        <option value="1" {% if mes == 1 %}selected{% endif %}>Enero</option>
        <option value="2" {% if mes == 2 %}selected{% endif %}>Febrero</option>
        <option value="3" {% if mes == 3 %}selected{% endif %}>Marzo</option>
        <option value="4" {% if mes == 4 %}selected{% endif %}>Abril</option>
        <option value="5" {% if mes == 5 %}selected{% endif %}>Mayo</option>
        <option value="6" {% if mes == 6 %}selected{% endif %}>Junio</option>
        <option value="7" {% if mes == 7 %}selected{% endif %}>Julio</option>
        <option value="8" {% if mes == 8 %}selected{% endif %}>Agosto</option>
        <option value="9" {% if mes == 9 %}selected{% endif %}>Septiembre</option>
        <option value="10" {% if mes == 10 %}selected{% endif %}>Octubre</option>
        <option value="11" {% if mes == 11 %}selected{% endif %}>Noviembre</option>
        <option value="12" {% if mes == 12 %}selected{% endif %}>Diciembre</option>
    </select>

    <label for="anio">Año:</label>
    <input type="number" name="anio" id="anio" value="{{ anio }}">

    

    <button type="submit" class="btn_cancel">Generar Reporte</button>
</form>
