{% load static %}
<div class="row" style="margin: 0.5rem 0;">
    <div class="col-12 ">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>

                        <th scope="col">Fecha de Inicio</th>
                        <th scope="col">Fecha De Vencimiento</th>
                        <th scope="col">Fecha Limite</th>
                        <th scope="col">Mora Acumulado</th>
                        <th scope="col">Interes Acumulado</th>


                        <th scope="col">Saldo Capital</th>
                        <th scope="col">Cuota A Cancelar</th>
                        <th></th>


                    </tr>
                </thead>
                <tbody>
                    {% for credit in siguiente_pago %}

                    <tr>
                        <td class="border border-dark-subtle">
                            {{credit.start_date}}
                        </td>
                        <td class="border border-dark-subtle">
                            {{credit.due_date}}
                        </td>
                        <td class="border border-dark-subtle">
                            {{credit.mostrar_fecha_limite}}
                        </td>
                        <td class="border border-dark-subtle">
                            {{credit.mora}}
                        </td>
                        <td class="border border-dark-subtle">
                            {{credit.interest}}
                        </td>


                        <td class="border border-dark-subtle">
                            {{credit.saldo_pendiente}}
                        </td>
                        <td class="border border-dark-subtle">
                            {{credit.total}}
                        </td>
                        <td class="border border-dark-subtle">
                            <a href="{% url 'financings:paymente_update_cuota' credit.id %}">Modificar</a>

                        </td>

                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



</div>