{% load static %}
<div style="padding: 2.5rem">
    <h3>¡Bienvenido al Apartado de <span class="badge text-bg-dark">Creditos</span> !</h3>
    <div class="d-flex justify-content-center fs-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'financings:list_credit' %}">Creditos</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{posicion}}</li>

            </ol>
        </nav>
    </div>
    <p>
        Bienvenido al módulo de Creditos. Este módulo te permite administrar todos
        los aspectos relacionados con los creditos de la plataforma.
    </p>
    <p>
        Este módulo está diseñado para brindarte el control y la flexibilidad
        necesarios para administrar eficazmente el registro de los creditos de los clientes en la
        plataforma.
    </p>
</div>