{%load static %}
<nav>
    <div class="container-fluid">
        <form class="d-flex" id="searchForm" action="{% url 'contable:ingresos' %}">
            <div class="input-group">
                <input class="form-control me-2" name="q" value="{{ query }}" type="search" placeholder="Buscar"
                    aria-label="Search">

                
                <select name="mes" id="mes" class="form-control me-2">
                    <option value="1" {% if mes == 1 %}selected{% endif %}>Enero</option>
                    <option value="2" {% if mes == 2 %}selected{% endif %}>Febrero</option>
                    <option value="3" {% if mes == 3 %}selected{% endif %}>Marzo</option>
                    <option value="4" {% if mes == 4 %}selected{% endif %}>Abril</option>
                    <option value="5" {% if mes == 5 %}selected{% endif %}>Mayo</option>
                    <option value="6" {% if mes == 6 %}selected{% endif %}>Junio</option>
                    <option value="7" {% if mes == 7 %}selected{% endif %}>Julio</option>
                    <option value="8" {% if mes == 8 %}selected{% endif %}>Agosto</option>
                    <option value="9" {% if mes == 9 %}selected{% endif %}>Septiembre</option>
                    <option value="10" {% if mes == 10 %}selected{% endif %}>Octubre</option>
                    <option value="11" {% if mes == 11 %}selected{% endif %}>Noviembre</option>
                    <option value="12" {% if mes == 12 %}selected{% endif %}>Diciembre</option>
                </select>

                <input type="number" name="anio" id="anio" value="{{ anio }}" class="form-control me-2">

                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>


    </div>
</nav>

<script>
    document.getElementById("searchForm").addEventListener("submit", function (e) {
        // Selecciona cualquier input, select o textarea
        const qInput = this.querySelector("[name='q']");
        const anioInput = this.querySelector("[name='anio']");
        const mesInput = this.querySelector("[name='mes']");

        if (qInput && !qInput.value.trim()) {
            qInput.removeAttribute("name"); // elimina si está vacío
        }
        if (anioInput && !anioInput.value.trim()) {
            anioInput.removeAttribute("name");
        }
        if (mesInput && !mesInput.value.trim()) {
            mesInput.removeAttribute("name");
        }
    });
</script>