{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVERSIONES INTEGRALES EL TELAR</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" />

    <!-- Bootstrap-->

    <!--<link rel="stylesheet" href="{% static 'css/style.css'%}" /> -->

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <style type="text/css">
    @font-face {
      font-family: 'Quicksand';
      src: url("{% static 'css/text/Quicksand/Quicksand-VariableFont_wght.ttf' %}") format('truetype'),
      url("{% static 'css/text/Quicksand/static/Quicksand-Regular.ttf' %}") format('truetype');
      font-weight: 500;
      /* Peso normal */
      font-style: normal;
      /* Estilo normal */
    }

    body {
      background-color: #ededed;
      font-family: "Quicksand", serif;
      
    }
    </style>
</head>

<body >
    <main class="d-flex justify-content-center align-items-center vh-100 ">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>

    </main>

    




    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Incluye Axios en tu archivo HTML desde una CDN -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'js/node_modules/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/node_modules/chart.js/dist/chart.umd.js' %}"></script>
    <script src="{% static 'js/node_modules/axios/dist/axios.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        {% if messages %}
        {% for message in messages %}
        Swal.fire({
            icon: "{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}error{% elif message.tags == 'warning' %}warning{% else %}info{% endif %}",
            title: "{{ message }}",
            timer: 3000,
            showConfirmButton: false,
        });
        {% endfor %}
        {% endif %}
    </script>


    {%block js%} {%endblock%}

</body>

</html>