{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INVERSIONES INTEGRALES EL TELAR S.A. | {{title}}</title>
  <link rel="icon" href="{% static 'img/logo_icon.jpeg' %}" />
   <meta name="description" content="Un hilo de oportunidades.">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
 
  <link rel="stylesheet" href="{% static 'css/new_styles.css' %}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

  {% block css %}
  {% endblock%}

</head>

<body>
  <div class="animated-bg"></div>
  {% include 'navbar.html' %}
  {% include 'navbar_respo.html' %}
  <main class="d-flex flex-nowrap">
    {% include 'sidebar_.html' %}
    <div class="container main-content">
      {% block content %}
      {% endblock %}
    </div>

  </main>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="{% static 'js/node_modules/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
  <script src="{% static 'js/node_modules/chart.js/dist/chart.umd.js' %}"></script>
  <script src="{% static 'js/node_modules/axios/dist/axios.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{% static 'js/sidebar.js'%}" class="astro-vvvwv3sm"></script>
  <script src="{% static 'js/style_css.js' %}"></script>

  <script>
    {% if messages %}
    {% for message in messages %}
    Swal.fire({
      icon: "{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}error{% elif message.tags == 'warning' %}warning{% else %}info{% endif %}",
      title: "{{ message }}",
      timer: 4000,
      showConfirmButton: false,
    });
    {% endfor %}
    {% endif %}
  </script>
  



  {%block js%} {%endblock%}
</body>

</html>