{% load static %}
<div class="d-flex flex-column flex-shrink-0 sidebar" style="width: 4.5rem;">
    
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
            <a href="/" class="nav-link  py-3 border-bottom rounded-0" aria-current="page"
                data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Inicio" data-bs-original-title="Inicio">
                <img src="{% static 'img/icons/iniio.png' %}" alt="icono_inicio" width="20" height="20">
            </a>
        </li>
        {% if permisos.puede_visualizar_el_registro_clientes %}
        <li>
            <a href="{% url 'customers:customers' %}" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
                aria-label="Clientes" data-bs-original-title="Clientes">
                <img src="{% static 'img/icons/clientes.png' %}" alt="icono_clientes" width="20" height="20">
            </a>
        </li>
        {% endif %}
        {% if permisos.puede_ver_registros_credito %}
        <li>
            <a href="{% url 'financings:list_credit' %}" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
                aria-label="Creditos" data-bs-original-title="Creditos">
                <img src="{% static 'img/icons/credito.png' %}" alt="icono_credito" width="20" height="20">
            </a>
        </li>
        {% endif %}
        {% if permisos.puede_ver_registros_boletas_pagos%}
        <li>
            <a href="{% url 'financings:list_payment' %}" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
                aria-label="Pagos" data-bs-original-title="Pagos">
                <img src="{% static 'img/icons/pagos.png' %}" alt="icono_credito" width="20" height="20">
            </a>
        </li>
        {% endif %}
        {% if permisos.puede_ver_registros_recibos %}
        <li>
            <a href="{% url 'financings:recibos' %}" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
                aria-label="Recibos" data-bs-original-title="Recibos">
                <img src="{% static 'img/icons/recibos.png' %}" alt="icono_credito" width="20" height="20">
            </a>
        </li>

        {% endif %}
        {% if permisos.puede_ver_registro_usuarios%}
        <li>
            <a href="{% url 'users:users' %}" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
                aria-label="Usuarios" data-bs-original-title="Usuarios">
                <img src="{% static 'img/icons/cliente_01.png' %}" alt="icono_credito" width="20" height="20">
            </a>
        </li>
        {% endif %}

{% if permisos.puede_ver_registro_acreedores or permisos.puede_ver_registro_seguros or permisos.puede_ver_registro_ingresos or permisos.puede_ver_registro_egresos or permisos.puede_ver_listado_registro_bancos %}
        <li >
        <a class="nav-link dropdown-toggle d-block py-2 px-3 text-decoration-none" href="#" role="button"
          data-bs-toggle="dropdown" aria-expanded="false" aria-label="Contabilidad" data-bs-original-title="Contabilidad">
          <img src="{% static 'img/icons/banco.png' %}" alt="icono_credito" width="20" height="20"> 
        </a>
        <ul class="dropdown-menu">
          {% if permisos.puede_ver_registro_ingresos %}
          <li><a class="dropdown-item" href="{% url 'contable:ingresos' %}">Ingresos</a></li>
          {% endif %}
          {% if permisos.puede_ver_registro_egresos%}
          <li><a class="dropdown-item" href="{% url 'contable:egresos' %}">Egresos</a></li>
          {% endif %}
          {% if permisos.puede_ver_registro_acreedores%}
          <li><a class="dropdown-item" href="{% url 'contable:acreedores' %}">Acreedores</a></li>
          {% endif %}
          {% if permisos.puede_ver_registro_seguros%}
          <li><a class="dropdown-item" href="{% url 'contable:seguros' %}">Seguros</a></li>
          {% endif %}

          {% if permisos.puede_ver_listado_registro_bancos %}
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{% url 'financings:list_bank' %}">Bancos</a></li>
          {% endif %}
        </ul>
      </li>
{% endif %}
{% if permisos.puede_descargar_informe_bancos or permisos.puede_descargar_reporte_creditos or permisos.puede_descargar_reporte_acreedores or permisos.puede_descargar_reporte_seguros %}
        <li  class="dropdown border-top">
        <a class="nav-link dropdown-toggle d-block py-2 px-3 text-decoration-none" href="#" role="button"
          data-bs-toggle="dropdown" aria-expanded="false" aria-label="Reportes" data-bs-original-title="Reportes">
          <img src="{% static 'img/icons/estadisticas.png' %}" alt="icono_credito" width="20" height="20">
        </a>
        <ul class="dropdown-menu">
          {% if permisos.puede_descargar_informe_bancos %}
          <li><a class="dropdown-item" href="{% url 'reporte_banco_excel' %}">Bancos</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          {% endif %}

          {% if permisos.puede_descargar_reporte_creditos %}
          <li><a class="dropdown-item" href="{% url 'financings:reportes' %}">Pago de Creditos</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          {% endif %}

          {% if permisos.puede_descargar_reporte_acreedores %}
          <li><a class="dropdown-item" href="{% url 'contable:reportes_acreedores'%}">Pagos de Acreedores</a></li>
          {% endif %}
          {% if permisos.puede_descargar_reporte_seguros %}
          <li><a class="dropdown-item" href="{% url 'contable:reportes_seguros' %}">Pagos de Seguros</a></li>
          {% endif %}

        </ul>
      </li>
{% endif %}
    </ul>
    <div class="dropdown border-top">
        <a href="#"
            class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img  src="{% static 'img/icons/salida.png' %}" alt="mdo" width="24" height="24" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small shadow">
            
            {% if permisos.puede_cargar_estado_cuenta %}
            <li><a class="dropdown-item" href="{% url 'document:banco' %}">Cargar Bancos</a></li>
            {% endif %}
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesion</a></li>
        </ul>
    </div>
</div>