{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/list_notificaciones.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container-fluid px-4 py-4" style="background-color: #F5F3F4; padding: 2.5rem;">
  <!-- Encabezado de la Sección -->
    <div class="d-flex justify-content-between align-items-center mb-4 " >
        <div>
            <h2 class="fw-bold text-dark mb-1" style="letter-spacing: -0.5px;">
                <i class="fas fa-bell me-2 text-danger"></i> Centro de Notificaciones
            </h2>
            <p class="text-muted mb-0">Consulta y gestiona las alertas recientes de tu cuenta.</p>
        </div>
        <div class="glass-badge px-3 py-2 rounded-pill shadow-sm">
            <span class="text-muted small">Total registros:</span> 
            <span class="fw-bold text-danger">{{ total_count }}</span>
        </div>
    </div>

  {% include 'notification/snippets/card_list.html' %}


  {% if page_obj %}
  <div class="row">
    {% include 'snippets/pages.html' %}
  </div>
  {% endif %}
</div>

<script>
document.getElementById("searchForm").addEventListener("submit", function (e) {
    this.querySelectorAll("input[name], select[name], textarea[name]").forEach(el => {
        if (!el.value.trim()) el.removeAttribute("name");
    });
});
</script>
{% endblock %}