{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="row">

    <div class="row box" style="padding: 5rem;">
        <div class="d-flex justify-content-center fs-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'financings:list_bank' %}">Bancos</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{posicion}}</li>

                </ol>
            </nav>
        </div>
        {% for boleta in boletas %}
        
        {% if boleta.credit %}
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Boleta No.{{boleta.numero_referencia}}</h5>
                <p class="card-text">Esta boleta esta relacionada a un pago del credito: {{boleta.credit}}</p>
                <p class="card-text">Con Referencia: {{boleta.numero_referencia}}</p>
                <p class="card-text">Con fecha de: {{boleta.fecha_emision.date}}</p>
                <p class="card-text">Por un monto de: Q{{boleta.Fmonto}}</p>
                {% if boleta.descripcion %}
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-bottom: 2rem;"
                    disabled>
                    {{boleta.descripcion}}
                </textarea>
                {% endif %}
                {% if boleta.descripcion_estado %}
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-bottom: 2rem;"
                    disabled>
                    {{boleta.descripcion_estado}}
                </textarea>
                {% endif %}
                {% if boleta.boleta %}
                <div style="margin-bottom: 1rem;">
                    <a href="{{boleta.get_document}}" class="fw-bold">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                            <path
                                d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z" />
                        </svg>
                        Boleta
                    </a>

                </div>
                {%endif%}

                <a href="{% url 'financings:detail_credit' boleta.credit.id %}"
                    class="btn_guardar">{{boleta.credit}}</a>
            </div>
        </div>

        <hr>
        {% elif boleta.disbursement %}
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Boleta No.{{boleta.numero_referencia}}</h5>
                <p class="card-text">Esta boleta esta relacionada a un desembolso para el credito de:
                    {{boleta.disbursement.credit_id}}</p>
                <p class="card-text">Con Referencia: {{boleta.numero_referencia}}</p>
                <p class="card-text">Con fecha de: {{boleta.fecha_emision.date}}</p>
                <p class="card-text">Por un monto de: Q{{boleta.Fmonto}}</p>

                {% if boleta.descripcion %}
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-bottom: 2rem;"
                    disabled>
                    {{boleta.descripcion}}
                </textarea>
                {% endif %}
                {% if boleta.descripcion_estado %}
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-bottom: 2rem;"
                    disabled>
                    {{boleta.descripcion_estado}}
                </textarea>
                {% endif %}
                {% if boleta.boleta %}
                <div style="margin-bottom: 1rem;">
                    <a href="{{boleta.get_document}}" class="fw-bold">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                            <path
                                d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z" />
                        </svg>
                        Boleta
                    </a>

                </div>
                {%endif%}

                <a class="btn_guardar"
                    href="{% url 'financings:detail_credit' boleta.disbursement.credit_id.id %}">{{boleta.disbursement.credit_id}}</a>
            </div>
        </div>

        <hr>



        {% elif boleta.cliente %}
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Boleta No.{{boleta.numero_referencia}}</h5>
                <p class="card-text">Esta boleta esta relacionada a un cliente: {{boleta.cliente}}</p>
                <p class="card-text">Con Referencia: {{boleta.numero_referencia}}</p>
                <p class="card-text">Con fecha de: {{boleta.fecha_emision.date}}</p>
                <p class="card-text">Por un monto de: Q{{boleta.Fmonto}}</p>
                {% if boleta.descripcion %}
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-bottom: 2rem;"
                    disabled>
                    {{boleta.descripcion}}
                </textarea>
                {% endif %}
                {% if boleta.descripcion_estado %}
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-bottom: 2rem;"
                    disabled>
                    {{boleta.descripcion_estado}}
                </textarea>
                {% endif %}
                {% if boleta.boleta %}
                <div style="margin-bottom: 1rem;">
                    <a href="{{boleta.get_document}}" class="fw-bold">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                            <path
                                d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z" />
                        </svg>
                        Boleta
                    </a>

                </div>
                {%endif%}
                <a href="{% url 'customers:detail' boleta.cliente.customer_code %}"
                    class="btn_guardar">{{boleta.cliente.customer_code}}</a>
            </div>
        </div>
        <hr>
        {% elif boleta.acreedor %}
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Boleta No.{{boleta.numero_referencia}}</h5>
                <p class="card-text">Esta boleta esta relacionada a un Acreedor: {{boleta.acreedor}}</p>
                <p class="card-text">Con Referencia: {{boleta.numero_referencia}}</p>
                <p class="card-text">Con fecha de: {{boleta.fecha_emision.date}}</p>
                <p class="card-text">Por un monto de: Q{{boleta.Fmonto}}</p>
                {% if boleta.descripcion %}
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-bottom: 2rem;"
                    disabled>
                    {{boleta.descripcion}}
                </textarea>
                {% endif %}
                {% if boleta.descripcion_estado %}
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-bottom: 2rem;"
                    disabled>
                    {{boleta.descripcion_estado}}
                </textarea>
                {% endif %}
                {% if boleta.boleta %}
                <div style="margin-bottom: 1rem;">
                    <a href="{{boleta.get_document}}" class="fw-bold">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                            <path
                                d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z" />
                        </svg>
                        Boleta
                    </a>

                </div>
                {%endif%}
                <a href="{% url 'contable:acreedores_detail' boleta.acreedor.id %}"
                    class="btn_guardar">{{boleta.acreedor.codigo_acreedor}}</a>
            </div>
        </div>
        <hr>
        {% elif boleta.seguro %}
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Boleta No.{{boleta.numero_referencia}}</h5>
                <p class="card-text">Esta boleta esta relacionada a un Seguro: {{boleta.seguro}}</p>
                <p class="card-text">Con Referencia: {{boleta.numero_referencia}}</p>
                <p class="card-text">Con fecha de: {{boleta.fecha_emision.date}}</p>
                <p class="card-text">Por un monto de: Q{{boleta.Fmonto}}</p>
                {% if boleta.descripcion %}
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-bottom: 2rem;"
                    disabled>
                    {{boleta.descripcion}}
                </textarea>
                {% endif %}
                {% if boleta.descripcion_estado %}
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-bottom: 2rem;"
                    disabled>
                    {{boleta.descripcion_estado}}
                </textarea>
                {% endif %}
                {% if boleta.boleta %}
                <div style="margin-bottom: 1rem;">
                    <a href="{{boleta.get_document}}" class="fw-bold">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                            <path
                                d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z" />
                        </svg>
                        Boleta
                    </a>

                </div>
                {%endif%}
                <a href="{% url 'contable:seguros_detail' boleta.seguro.id %}"
                    class="btn_guardar">{{boleta.seguro.codigo_seguro}}</a>
            </div>
        </div>
        {% else %}
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Boleta No.{{boleta.numero_referencia}}</h5>
                <p class="card-text">Con Referencia: {{boleta.numero_referencia}}</p>
                <p class="card-text">Con fecha de: {{boleta.fecha_emision.date}}</p>
                <p class="card-text">Por un monto de: Q{{boleta.Fmonto}}</p>
                {% if boleta.descripcion %}
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-bottom: 2rem;"
                    disabled>
                    {{boleta.descripcion}}
                </textarea>
                {% endif %}
                {% if boleta.descripcion_estado %}
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-bottom: 2rem;"
                    disabled>
                    {{boleta.descripcion_estado}}
                </textarea>
                {% endif %}
                {% if boleta.boleta %}
                <div style="margin-bottom: 1rem;">
                    <a href="{{boleta.get_document}}" class="fw-bold">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                            <path
                                d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z" />
                        </svg>
                        Boleta
                    </a>

                </div>
                {%endif%}
                <a href="{% url 'contable:seguros_detail' boleta.seguro.id %}"
                    class="btn_guardar">{{boleta.seguro.codigo_seguro}}</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="row" style="margin-top: 1rem;">
            <button onclick="window.history.back()" type="button" class="btn_cancel">Atras</button>
        </div>







    </div>
</div>


{% endblock %}