{% extends 'base.html' %}

{% block content %}
<div class=" row box">
    <div class="row">
        {% include 'financings/bank/snippets/presentation.html' %}


    </div>
    <hr>

    <div class="row d-flex" style="margin-top: 2rem;">


        <div class="col d-flex justify-content-start">
            {% include 'financings/bank/snippets/search.html' with query=query %}

        </div>
        <div class="col d-flex flex-row-reverse">
            {% include 'financings/bank/snippets/list_btns.html' %}

        </div>





    </div>

    <div class="row" style="margin-top: 2rem;">
        {% include 'financings/bank/table/table.html' %}
    </div>

</div>


{% if page_obj %}
{% include 'snippets/pages.html' %}
{% endif %}
{% endblock %}