{% load static %}
<div class="row" style="margin: 2rem 0;">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Tipo de direccion</th>
        <th scope="col">Direccion</th>
        <th scope="col">Zona</th>
        <th scope="col">Departamento</th>
        <th scope="col">Municipio</th>
       
        <th scope="col">Pais</th>
        
        <th scope="col">Longitud</th>
        <th scope="col">Latitud</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      {% for dire in coordenada%}
      {% for x in dire %}

      <tr>
        <th scope="row">{{x.address_id.type_address}}</th>
        <td > {{x.address_id.street}}</td>
        <td>{{x.address_id.number}}</td>
        <td>{{x.address_id.city}}</td>
        <td>{{x.address_id.state}}</td>
       
        <td>{{x.address_id.country}}</td>
        
        
        <td>{{x.longitud}}</td>
        <td>{{x.latitud}}</td>
      
        <td>
          <a href="{% url 'addresses:update' x.address_id.id customer_list.customer_code %}" class="btn_add">Editar direccion</a>
        </td>
      </tr>
      {% endfor %}
      {% endfor %}

    </tbody>
  </table>
  {% if limite_direccion  %}
  <div>
    <a href="{% url 'addresses:add' customer_code %}" class="btn_edit">Agregar Direccion</a>
  </div>
  {% endif %}









</div>