{% load static %}
<div class="row" style="margin: 2rem;">
  {% if permisos.puede_subir_archivos %}
  <div>
    <a href="{% url 'document:create_document_customer' customer_code %}" class="btn_edit">Agregar un nuevo
      Documento</a>
  </div>
  {% endif %}

  <div class="col-12" style="margin-top: 3rem;">
    <div class="row d-flex justify-content-center">
      <div class="col-6 ">
        <table class="table table-hover">
          <thead>
            <tr>

              <th scope="col">Nombre del Documento</th>

              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="{% url 'pdf' customer_list.id  %}" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                    <path
                      d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z" />
                  </svg>
                  Formulario IVE
                </a>
              </td>

              <td></td>
            </tr>
            {% for doc in document %}
            <tr>

              <td>
                <a href="{{doc.document_id.get_document}}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                    <path
                      d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z" />
                  </svg>

                  {{doc.titulo}}
                </a>
              </td>
              {% if permisos.puede_eliminar_archivos %}
              <td>
                <a href="{% url 'document:delete_document' doc.document_id.id customer_code %}"
                  class="btn_add">Eliminar</a>
              </td>
              {% endif %}
            </tr>
            {%endfor%}

          </tbody>
        </table>
      </div>



    </div>
  </div>

</div>