{% load static %}
<div class="row" style="margin: 2rem;">
    <div>
        <a href="{% url 'imagen:create_image' customer_code %}" class="btn_edit">Agregar una nueva Imagen</a>
    </div>
    <div class="col-12" style="margin-top: 2rem;">
        {% for image in imagen %}
        <div class="row" style="margin-top: 0.5rem;">
            <div class="col-2">
                <p class="fw-semibold">{{image.image_id.description}}</p>
    
            </div>
            <div class="col">
                <img src="{{image.image_id.get_image}}" alt="{{image.image_id.description}}" style="width: 25rem; height: 15rem;">
    
            </div>
            <div class="col-2">
                <a href="{{image.image_id.get_image}}" download style="text-decoration: none; color: black;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                      </svg>
                    Descargar
                </a>
            </div>
            <div class="col">
                <a href="{% url 'imagen:update_image' image.image_id.id customer_code %}" class="btn_edit">Editar Imagen</a>
                
            </div>
            <div class="col-2">
                <a href="{% url 'imagen:delete_image' image.image_id.id customer_code %}" class="btn_add">Eliminar Imagen</a>
            </div>

        </div>
        
        
        
        {% endfor %}

    </div>
    
    
</div>