{% load static %}
<div class="row" style="margin: 2rem ;">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tipo de Producto o Servicio</th>
          <th scope="col">Valor Total del Producto o Servicio</th>
          <th scope="col">Monto Inicial</th>
          <th scope="col">Monto Mensual</th>         
          <th scope="col">Pagare</th>
          <th></th>

        </tr>
      </thead>
      <tbody>
        {% for plan in plan_inversion%}
        <tr>
          <th scope="row">{{plan.investment_plan_code}}</th>
          <td>{{plan.type_of_product_or_service}}</td>
          <td>{{plan.total_value_of_the_product_or_service}}</td>
          <td>{{plan.initial_amount}}</td>
          <td>{{plan.monthly_amount}}</td>
          <td><a href="{% url 'investment_plan:pagare' plan.id customer_code %}">Pagare</a></td>
          {% if permisos.puede_eliminar_informacion_destino_credito  or permisos.puede_editar_informacion_destino_credito %}
          <td>
          {% if permisos.puede_editar_informacion_destino_credito %}       
            <a href="{% url 'investment_plan:update' plan.id customer_code %}" class="btn_add">Editar</a>         
          {% endif %}
          {% if permisos.puede_eliminar_informacion_destino_credito %}    
            <a href="{% url 'investment_plan:delete' plan.id customer_code %}" class="btn_edit">Eliminar</a>          
          {% endif %}
          </td>
          {% endif %}

        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
  {% if permisos.puede_crear_informacion_destino_credito %}
  <div style="margin-top: 2rem;">
    <a href="{% url 'investment_plan:create' customer_code %}" class="btn_edit">Crear Nuevo Plan de Inversion</a>

  </div>
  {% endif %}



</div>