{% load static %}
<div class="row" style="margin: 1rem 0;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre Completo</th>
                <th scope="col">Numero de telefono</th>
                <th scope="col">Tipo de referencia</th>
                <th scope="col">Editar</th>

            </tr>
        </thead>
        <tbody>
            {% for referencia in reference %}
            <tr>
                <th>{{referencia.full_name}}</th>
                <td>{{referencia.phone_number}}</td>
                <td>{{referencia.reference_type}}</td>
                <td>
                    <a href="#">Editar Referencia</a>
                </td>

            </tr>

            {% endfor %}


        </tbody>
    </table>

</div>