{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row box" style="padding: 5rem;">
    <form method="POST">
        {% csrf_token %}
        {% include 'financings/cuota/forms/forms.html' %}
        <div class="row">
            <hr>
            <p>DATOS ANTERIORES</p>
            <hr>
            <p class="fw-bold">FECHA DE INICIO: <span class="fw-normal">{{cuota.start_date}}</span></p>
            <p class="fw-bold">FECHA DE VENCIMIENTO: <span class="fw-normal">{{cuota.due_date}}</span></p>
            <p class="fw-bold">FECHA LIMITE: <span class="fw-normal">{{cuota.fecha_limite}}</span></p>
            <p class="fw-bold">FECHA SALDO CAPITAL PENDIENTE: <span class="fw-normal">{{cuota.saldo_pendiente}}</span>
            </p>
            <p class="fw-bold">MORA: <span class="fw-normal">{{cuota.mora}}</span></p>
            <p class="fw-bold">INTERES: <span class="fw-normal">{{cuota.interest}}</span></p>






            <hr>
        </div>
        <button type="submit" class="btn_edit" onclick="window.history.back()">Guardar Registro</button>
        <button onclick="window.history.back()" type="button" class="btn btn-link">Cancelar</button>


    </form>

</div>

{% endblock %}