{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="container box">
    <div class="row">
        <form method="POST" id="plan_destino">

            {% csrf_token %}

            <div class="row" style="margin-top: 2rem;">
                <h3>Plan de Inversion (Destino) </h3>
                <hr>
                {% for field in form %}

                <div class="form-group" style="margin-top: 0.5rem;">
                    <label for="{{ field.id_for_label }}" class="form-label fw-bold">
                        {{ field.label }}
                    </label>
                    {{ field }}
                    {% if field.errors %}
                    {{ field.errors }}
                    {% endif %}
                </div>
                <br />

                {% endfor %}

            </div>
            

            <div style="margin-top: 2rem;" class="row">
                <a type="button" onclick="generar_plan()" class="btn_cancel" id="generar_plan">Generar Plan de Pagos</a>
            </div>
            <div class="row">

                <div class="table-responsive">
                    {% include 'financings/credit/snippets/forms/plan.html' %}
                </div>


            </div>

            <div class="row" style="margin-top: 1rem;">
                <div class="col">
                    <button onclick="window.history.back()" type="button" class="btn_cancel">Cancelar</button>

                </div>
                <div class="col">
                    <button type="submit" class="btn_guardar">Siguiente</button>

                </div>



            </div>


        </form>

    </div>
</div>

{% endblock %}

{% block js %}
<script type="module" src="{% static 'js/plan_inversion/destino.js'%}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {

    const form = document.getElementById("plan_destino");
    const tipoPagare = document.getElementById("id_tipo_pagare");
    const fiadorField = document.getElementById("id_fiador");
    const creditoAnteriorField = document.getElementById("id_credito_anterior_vigente");

    form.addEventListener("submit", function (event) {

        const tipo = tipoPagare.value;
        let errores = [];

        if (tipo === "Fiador") {
            if (!fiadorField.value || fiadorField.value.trim() === "") {
                errores.push("Debe ingresar información del FIADOR.");
                
                fiadorField.focus();
            }
        }

        if (tipo === "Restructuracion") {
            if (!creditoAnteriorField.value || creditoAnteriorField.value.trim() === "") {
                errores.push("Debe ingresar el CRÉDITO ANTERIOR VIGENTE.");
                creditoAnteriorField.focus();
            }
        }

        if (errores.length > 0) {
            event.preventDefault(); // ❌ Cancela el envío            
            Swal.fire({
                icon: "error",
                title: `${errores.join("\n")}`,
                timer: 4000,
                showConfirmButton: false,
            });
        }

    });

});
</script>



{% endblock %}