{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INVERSIONES INTEGRALES EL TELAR S.A. | Seleccion de Notario</title>
    <link rel="icon" href="{% static 'img/logo_icon.jpeg' %}" />
    <link rel="stylesheet" href="{% static 'css/sucursal/clasificacion.css' %}">
</head>

<body>
    <div class="container">
        <h1>Notarios Seleccionados</h1>
        <p class="subtitle">Seleccione al notario a subir los documentos.</p>
        <input type="hidden" id="planId" value="{{ plan_id }}">

        <div class="sucursales-grid" id="sucursalesGrid">
            {% for sucursal in sucursales %}
            <div class="sucursal-card" onclick="seleccionarSucursal('{{ sucursal.id }}')">
                <div class="sucursal-content">
                    <h2 style="text-transform: uppercase;">{{ sucursal }}</h2>

                </div>
            </div>
            {% endfor %}
        </div>


    </div>

    <script>
        let sucursalSeleccionada = null;
        const planId = document.getElementById('planId').value;

        // Seleccionar sucursal
        function seleccionarSucursal(id) {
            const cards = document.querySelectorAll('.sucursal-card');
            cards.forEach(card => card.classList.remove('selected'));
            event.currentTarget.classList.add('selected');

            irASucursal(id);
        }



        // Redirigir a la sucursal
        function irASucursal(id) {
            window.location.href = `/plan_inversion/subir_archivos/${planId}/${id}/`;

        }
    </script>
</body>

</html>