{% load static %}

<div class="container my-5">
    <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
        
        <a href="{% url 'actividades:eliminar_notificacion' object.uuid %}" class="position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill"
            aria-label="Close"></a>

        <h4 class="text-body-emphasis">{{object.title}}</h4>
        <p class="col-lg-6 mx-auto mb-4">
            {{object.message}}
        </p>
        {% if object.especificaciones.contenido %}
        <p class="col-lg-6 mx-auto mb-4">{{object.especificaciones.contenido|linebreaksbr}}</p>
        {% endif %}
        {% if object.especificaciones.url %}
        <a href="{{object.especificaciones.url}}" class=" btn_guardar">Ir</a>
        {% endif %}
    </div>
</div>

