{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/customers/forms.css' %}">
{% endblock %}

{% block content %}
<form method="GET" enctype="multipart/form-data" id="customer">
    {% csrf_token %}
    <div class="row">
        <div class="col-12" style="display: flex; align-items: end; justify-content: end;">
            <a type="button" style="
border: 1px solid #ba181b;
color: #ba181b;
text-decoration: none;
padding: 0.5rem;
border-radius: 2rem;
background-color: #effaf3;
" href=" {% url 'customers:customers' %}">Cancelar</a>
        </div>
        <div id="PersonalInformation">
            <div class="row">
                <div class="col-4">
                    <h4>Información Personal</h4>

                </div>
                <div class="col-8">
                    {%include 'customer/forms/PersonalInformation/forms.html' %}
                </div>
            </div>
            <div class="row" style="margin-top: 3rem;">
                <hr>
                <div class="col-2">
                    <a type="button" style="
        border: 1px solid #ba181b;
        color: #ba181b;
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 2rem;
        background-color: #effaf3;
      " href=" {% url 'customers:customers' %}">Cancelar</a>
                </div>

                <div class="col-2">
                    <a type="button" style="cursor: pointer;"
                        onclick="mostrarOcultar('WorkingInformation','PersonalInformation')"
                        class="siguiente">Siguiente</a>
                </div>


            </div>
        </div>



        <div id="WorkingInformation" style="display: none;">
            <hr>
            <div class="row">
                <div class="col-4">
                    <h4>Información Laboral</h4>

                </div>
                <div class="col-8">

                    {% include 'customer/forms/WorkingInformation/forms.html'%}

                </div>
            </div>
            <div class="row" style="margin-top: 3rem;">
                <hr>

                <div class="col-2">
                    <a type="button" onclick="mostrarOcultar('WorkingInformation','PersonalInformation')"
                        class="anterior">Anterior</a>
                </div>
                <div class="col-2">
                    <a type="button" onclick="mostrarOcultar('InvestmentPlan','WorkingInformation')"
                        class="siguiente">Siguiente</a>
                </div>
            </div>
        </div>



        <div id="InvestmentPlan" style="display: none;">
            <hr>
            <div class="row">
                <div class="col-4">
                    <h4>Información Sobre el Plan de Inversión</h4>
                </div>
                <div class="col-8">
                    {% include 'customer/forms/InvestmentPlan/forms.html' %}
                </div>
            </div>
            <div class="row" style="margin-top: 3rem;">
                <hr>

                <div class="col-2">
                    <a type="button" onclick="mostrarOcultar('InvestmentPlan','WorkingInformation')"
                        class="anterior">Anterior</a>
                </div>
                <div class="col-2">
                    <a type="button" onclick="mostrarOcultar('References','InvestmentPlan','agregar')"
                        class="siguiente">Siguiente</a>
                </div>
            </div>
        </div>



        <div id="References" style="display: none; ">
            <hr>
            <div class="row">
                <div class="col-4">
                    <h4>Información Referencias del cliente</h4>
                </div>
                <div class="col-8">
                    {% include 'customer/forms/FinancialInformation/forms.html' %}

                </div>
            </div>
            <div class="row" style="margin-top: 3rem;">
                <hr>

                <div class="col-2">
                    <a type="button" onclick="mostrarOcultar('References','InvestmentPlan','agregar')"
                        class="anterior">Anterior</a>
                </div>
                <!-- 
                <div class="col-2">
                    <a onclick="mostrarOcultar('agregar','References')">Siguiente</a>
                </div>
                -->

            </div>
        </div>

    </div>
    <br />
    <div id="agregar" style="display: none;">
        <hr />
        <a type="button" style="
        border: 1px solid #ba181b;
        color: #ba181b;
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 2rem;
        background-color: #effaf3;
      " href=" {% url 'customers:customers' %}">Cancelar</a>
        <button type="submit" style="
        background-color: #161a1d;
        color: #effaf3;
        border: 1px solid #161a1d;
        padding: 0.5rem 1rem;
        border-radius: 2rem;
      ">
            {{accion}}
        </button>
    </div>
</form>
{% endblock%}

{% block js %}

<script type="text/javascript" src="{% static 'js/customer/mostrar.js'%}"></script>

{% endblock %}