{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
    .contenido {
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 2rem;

    }

    .listado button:hover {

        color: red;
        font-weight: bolder;
    }

    .listado button {

        color: #2a2525;
        font-weight: bolder;
    }
</style>
{% endblock %}


{% block content %}

<div class="row box" style="padding-bottom:5rem;">
    <div class="row">
        <div style="margin-top: 1rem;">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"
                            style="text-decoration: none;">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'customers:customers' %}"
                            style="text-decoration: none;">Clientes</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{customer_list.first_name}}
                        {{customer_list.last_name}}</li>
                </ol>
            </nav>

        </div>
        <div style="display: flex; align-items: center; justify-content: center;">
            <div style="text-align: center; padding: 5rem;">
                <p class="fw-bold fs-1">
                    INFORMACION DEL CLIENTE
                </p>
                <p class="fs-6 fw-lighter text-uppercase">
                    {{customer_list.first_name}} {{customer_list.last_name}}

                </p>
                <p class="fs-6 fst-italic text-uppercase">
                    {{customer_list.customer_code}}

                </p>
            </div>
            <div>
                {% if customer_list.get_qr %}
                <img src="{{customer_list.get_qr}}" alt="Codigo qr" width="205rem" height="205rem">
                {% endif %}


            </div>


        </div>
        <div class="d-flex justify-content-end">

            <div style="margin-right: 0.5rem;">
                <a href="{% url 'customers:formulario_ive' customer_list.id %}"
                    style="text-decoration: none; color: black;">
                    <svg style="margin-right: 0.2rem;" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path
                            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                    </svg>Formulario IVE</a>

            </div>


            {% if permisos.puede_eliminar_registro_cliente %}
            <div style="margin-left: 0.5rem;">
                <a href="{% url 'customers:delete_customer' customer_list.id %}"
                    style="text-decoration: none; color: black;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-person-x-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708" />
                    </svg>
                    Eliminar registro de cliente</a>

            </div>
            {% endif %}


        </div>


    </div>

    <div class="row" style="margin-top: 1rem;">
        <hr>
        <nav>
            <div class="nav nav-tabs listado" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Información Personal</button>
                <button class="nav-link" id="nav-laboral-tab" data-bs-toggle="tab" data-bs-target="#nav-laboral"
                    type="button" role="tab" aria-controls="nav-laboral" aria-selected="true">Información
                    Laboral</button>
                <button class="nav-link" id="nav-plan_inversion-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-plan_inversion" type="button" role="tab" aria-controls="nav-plan_inversion"
                    aria-selected="true">Plan de Inversion</button>

                <button class="nav-link" id="nav-plan_inversion-tab" data-bs-toggle="tab" data-bs-target="#nav-creditos"
                    type="button" role="tab" aria-controls="nav-creditos" aria-selected="true">Creditos</button>

                <button class="nav-link" id="nav-direcciones-tab" data-bs-toggle="tab" data-bs-target="#nav-direcciones"
                    type="button" role="tab" aria-controls="nav-direcciones" aria-selected="true">Direcciones</button>
                <button class="nav-link" id="nav-referencia-tab" data-bs-toggle="tab" data-bs-target="#nav-referencia"
                    type="button" role="tab" aria-controls="nav-referencia" aria-selected="true">Referencias</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Imagen de
                    Cliente</button>
                <button class="nav-link" id="nav-archivos-tab" data-bs-toggle="tab" data-bs-target="#nav-archivos"
                    type="button" role="tab" aria-controls="nav-archivos" aria-selected="true">Archivos</button>


            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                tabindex="0">

                <div class="contenido">
                    {% include 'customer/snippets/detail/informacion_personal.html' %}

                </div>
                {% if permisos.puede_editar_informacion_personal_cliente %}
                <div>
                    <hr>
                    <a href="{% url 'customers:update_customer' customer_code %}" class="btn_edit">Editar informacion
                        Personal</a>
                </div>
                {% endif %}


            </div>
            <div class="tab-pane fade show " id="nav-laboral" role="tabpanel" aria-labelledby="nav-laboral-tab"
                tabindex="0">
                <div class="contenido">
                    <input type="hidden" value="{{customer_code}}" id="customer_code">

                    {% if laboral or otra %}
                    {% include 'customer/snippets/detail/informacion_laboral.html' %}

                    {% else %}
                    <!-- SELECCION -->
                    <div class="row" style="margin: 2rem;">
                        Agregar Información de:
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                id="working_information">
                            <label class="form-check-label" for="working_information">
                                Información Laboral
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="other_information">
                            <label class="form-check-label" for="other_information">
                                Otra Fuente de Ingreso
                            </label>
                        </div>
                    </div>
                    {% endif %}





                </div>


            </div>
            <div class="tab-pane fade show " id="nav-direcciones" role="tabpanel" aria-labelledby="nav-direcciones-tab"
                tabindex="0">
                <div class="contenido">
                    {% if direccion %}
                    {% include 'customer/snippets/detail/direcciones.html' %}
                    {% else %}
                    <div class="row" style="margin: 1.5rem;">
                        <div class="col-5">
                            <a href="{% url 'addresses:add' customer_code %}" class="btn_add"
                                style="margin: 1rem;">Agregar Registro de una Direccion</a>

                        </div>


                    </div>

                    {% endif %}
                </div>


            </div>
            <div class="tab-pane fade show " id="nav-referencia" role="tabpanel" aria-labelledby="nav-referencia-tab"
                tabindex="0">
                <div class="contenido">
                    {% if reference %}
                    {% include 'customer/snippets/detail/referencia.html' %}
                    {% else %}
                    <div class="row" style="margin: 1.5rem;">
                        <div class="col-5">
                            <a href="{% url 'financial_information:create_reference_information' customer_code %}"
                                class="btn_add" style="margin: 1rem;">Agregar Registro de una Referencia</a>

                        </div>


                    </div>
                    {% endif %}
                </div>

            </div>
            <div class="tab-pane fade show " id="nav-plan_inversion" role="tabpanel"
                aria-labelledby="nav-plan_inversion-tab" tabindex="0">
                <div class="contenido">
                    {% if plan_inversion %}
                    {% include 'customer/snippets/detail/plan_inversion.html' %}
                    {% else %}
                    <div class="row" style="margin: 1.5rem;">
                        <div class="col-5">
                            <a href="{% url 'investment_plan:create' customer_code %}" class="btn_add"
                                style="margin: 1rem;">Agregar Registro de Plan de Inversión(Destino)</a>

                        </div>


                    </div>

                    {% endif %}
                </div>
            </div>

            <div class="tab-pane fade show " id="nav-creditos" role="tabpanel" aria-labelledby="nav-creditos-tab"
                tabindex="0">
                <div class="contenido">
                    {% include 'customer/snippets/detail/creditos.html' %}
                </div>
            </div>

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">

                <div class="contenido">
                    {% include 'customer/snippets/detail/imagen.html' %}
                </div>

            </div>
            <div class="tab-pane fade" id="nav-archivos" role="tabpanel" aria-labelledby="nav-archivos-tab"
                tabindex="0">
                <div class="contenido">
                    {% include 'customer/snippets/detail/documents.html' %}

                </div>
            </div>

        </div>

    </div>



</div>



{% endblock %}


{% block js %}
<script>
    const working_information = document.getElementById('working_information');
    const other_information = document.getElementById('other_information');
    const customer_code = document.getElementById('customer_code').value;

    working_information.addEventListener('input', function (event) {
        let on = event.target.value;
        if (on) {
            window.location.href = `/financial_information/create/working_information/${customer_code}/`
        }
    });
    other_information.addEventListener('input', function (event) {
        let on = event.target.value;
        if (on) {
            window.location.href = `/financial_information/create/other_information/${customer_code}/`
        }
    });

</script>
{% endblock %}