{% extends 'base_cliente.html' %}
{% load static %}

{% block content %}
<div class="container box">
    <div class="d-flex justify-content-center">
        <img src="{% static 'img/logo.png' %}" alt="" style="height: 3rem; width: 10rem;">
    </div>
    <form method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'snippets/forms.html' %}
        <button type="submit" class="btn_guardar">Guardar Boleta</button>
        <button id="cuota_por_cobrar" class="btn_cancel" onclick="mostarcuota()" type="button">Cuota por cobrar</button>
        <a class="btn btn-link " href="{% url 'actividades:cerrar_pestania' %}" >Cancelar</a>
    </form>

</div>




{% endblock %}

{% block js %}
<script>
    function mostarcuota() {
        {% if cuota %}
            Swal.fire({
                icon: "info",
                title:  "{% if not cuota.credit_id.is_paid_off %} Cuota Por Cobrar {% else %} Este crédito ya ha sido cancelado por completo {% endif %}",
                html: `
                    <p>Fecha de Inicio: {{ cuota.start_date.date }}</p>
                    <p>Fecha de Vencimiento: {{ cuota.due_date.date }} </p>
                    <p>Fecha Límite: {{ cuota.mostrar_fecha_limite }} </p>
                    <p>Mora: Q{{ cuota.formato_cuota_mora }}</p>
                    <p>Interés: Q{{ cuota.formato_cuota_interes }}</p>
                    <p>Capital a aportar: Q{{ cuota.formato_cuota_capital }}</p>
                    <p>Total de la cuota a cancelar: Q{{ cuota.formato_cuota_total }}</p>
                `,
                timer: 4000,
                showConfirmButton: false,
            });
        {% else %}
            Swal.fire({
                icon: "info",
                title: "No hay cuota por cobrar",
                text: "Actualmente no existe información de una cuota pendiente para este cliente.",
                timer: 3000,
                showConfirmButton: false,
            });
        {% endif %}
    }
</script>
{% endblock %}
