{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="box">
    <div class="d-flex justify-content-center fs-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'clasificacion_reportes' %}">Reportes</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{posicion}}</li>

            </ol>
        </nav>
    </div>
    <div class="row g-4  row-cols-1 row-cols-lg-3" style="margin: 0 2rem;">
        <div class="feature col">
            <div class="card text-bg-light">
                <div class="card-body" style="padding: 2.5rem; display: flex; align-items: center; justify-content: center;">
                    <a href="{% url 'customers:solicitude'%}" class="icon-link">
                        Clientes en Proceso de Solicitud
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>





        </div>
        <div class="feature col">
            <div class="card text-bg-light">
                <div class="card-body" style="padding: 2.5rem; display: flex; align-items: center; justify-content: center;">
                    <a href="{% url 'customers:not_accepted' %}" class="icon-link">
                        Clientes No Aceptados
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>


        </div>
        <div class="feature col">
            <div class="card text-bg-light">
                <div class="card-body" style="padding: 2.5rem; display: flex; align-items: center; justify-content: center;">
                    <a href="{% url 'customers:document_review' %}" class="icon-link">
                        Clientes en Revision de
                        Documentos
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>



        </div>
        <div class="feature col">
            <div class="card text-bg-light">
                <div class="card-body" style="padding: 2.5rem; display: flex; align-items: center; justify-content: center;">
                    <a href="{% url 'customers:inactive' %}" class="icon-link">
                        Clientes Inactivos
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>


        </div>
       
        <div class="feature col">
            <div class="card text-bg-light">
                <div class="card-body" style="padding: 2.5rem; display: flex; align-items: center; justify-content: center;">
                    <a href="{% url 'customers:accepted' %}" class="icon-link">
                        Clientes del El Telar
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>



        </div>
        <div class="feature col">
            <div class="card text-bg-light">
                <div class="card-body" style="padding: 2.5rem; display: flex; align-items: center; justify-content: center;">
                    <a href="{% url 'customers:customers' %}" class="icon-link">
                        Todos los Clientes Registrados
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>



        </div>

    </div>


</div>
{% endblock %}