{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="row">
        <div class="row">
            <div class="col" style="padding: 2.5rem">
                <h3>¡Bienvenido al Apartado de <span class="badge text-bg-dark"> <a
                            href="{% url 'customers:customers' %}"
                            style="text-decoration: none; color: white;">Clientes</a></span> !</h3>
                <p>
                    En este módulo, podrás gestionar toda la información relacionada con tus clientes de manera
                    eficiente y
                    organizada.
                </p>
                <p>
                    Este módulo está diseñado para brindarte el control y la flexibilidad
                    necesarios para administrar eficazmente el registro de los clientes en la
                    plataforma.
                </p>
            </div>

        </div>
        <div class="col-12 d-flex flex-row-reverse">

            {% include 'customer/snippets/search.html' with query=query %}


        </div>

        <div class="col">
            <p>Resultados para: {{ query }} ({{ count }})</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            {% include 'customer/table/table.html' %}
        </div>
    </div>

</div>
{% if page_obj %}
{% include 'snippets/pages.html' %}
{% endif %}
{% endblock %}