{% extends 'base_cliente.html' %}
{% load static %}

{% block content %}
<div class="container box">
    <div class="d-flex justify-content-center">
        <img src="{% static 'img/logo.png' %}" alt="" style="height: 3rem; width: 10rem;">
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'snippets/forms.html' %}
        <button type="submit" class="btn_guardar">Guardar Boleta</button>
        <button onclick="window.history.back()" type="button" class="btn btn-link">Cancelar</button>
       
    </form>

</div>


{% endblock %}

