{% load static %}
<div class="row">
    <div class="col-12 ">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">No. Referencia</th>
                        <th scope="col">Debito (-)</th>
                        <th scope="col">Credito (+)</th>




                    </tr>
                </thead>
                <tbody>
                    {% for credit in bank_list %}

                    <tr>
                        <td scope="row">

                            {{credit.fecha}}


                        </td>
                        <td scope="row">

                            {{credit.referencia}}

                        </td>
                        <td scope="row">
                            {{credit.debito}}
                        </td>
                        <td scope="row">
                            {{credit.credito}}
                        </td>








                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


</div>