{% load static %}


<div class="row row-cols-1 row-cols-md-3 g-3">
    <div class="col">
        <div class="card card_hover" style="background-color: #ffc8ca;">
            <a href="{% url 'customers:customers'%}" style="text-decoration: none;">
                <div class="card-body">
                    <div class="row" style="color: #480709;">
                        <div class="col-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                class="bi bi-people-fill" viewBox="0 0 16 16">
                                <path
                                    d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                            </svg>
                        </div>
                        <div class="col-6">
                            <h4>{{clientes.count}}</h4>
                            <h6>Clientes Registrados</h6>

                        </div>

                    </div>

                </div>

            </a>

        </div>
    </div>

    <div class="col">
        <div class="card card_hover" style="background-color: #fff1f1;">
            <a href="{% url 'financings:list_credit'%}" style="text-decoration: none;">
                <div class="card-body">
                    <div class="row" style="color: #480709;">
                        <div class="col-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                class="bi bi-credit-card-2-back-fill" viewBox="0 0 16 16">
                                <path
                                    d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5H0zm11.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM0 11v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1z" />
                            </svg>
                        </div>
                        <div class="col-6">
                            <h4>{{creditos.creditos.count}}</h4>
                            <h6>Creditos Vigentes</h6>

                        </div>

                    </div>

                </div>

            </a>

        </div>
    </div>
    <div class="col">
        <div class="card card_hover" style="background-color: #fff1f1;">
            <a href="{% url 'financings:creditos_en_atrasos'%}" style="text-decoration: none;">
                <div class="card-body">
                    <div class="row" style="color: #480709;">
                        <div class="col-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                class="bi bi-credit-card-2-back-fill" viewBox="0 0 16 16">
                                <path
                                    d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5H0zm11.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM0 11v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1z" />
                            </svg>
                        </div>
                        <div class="col-6">
                            <h4>{{creditos.creditos_atrasados.count}}</h4>
                            <h6>Creditos Con Estado de Fechas En Atraso</h6>

                        </div>

                    </div>

                </div>

            </a>

        </div>
    </div>

    
    <div class="col">
        <div class="card card_hover" style="background-color: #fff1f1;">
            <a href="{% url 'financings:filter_credito_fecha_vencimiento_hoy'%}" style="text-decoration: none;">
                <div class="card-body">
                    <div class="row" style="color: #480709;">
                        <div class="col-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                class="bi bi-credit-card-2-back-fill" viewBox="0 0 16 16">
                                <path
                                    d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5H0zm11.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM0 11v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1z" />
                            </svg>
                        </div>
                        <div class="col-6">
                            <h4>{{creditos.creditos_fecha_vencimiento.count}}</h4>
                            <h6>Creditos Con Fecha de Vencimiento Hoy</h6>

                        </div>

                    </div>

                </div>

            </a>

        </div>
    </div>
    <div class="col">
        <div class="card card_hover" style="background-color: #fff1f1;">
            <a href="{% url 'financings:filter_credito_fecha_limite_hoy'%}" style="text-decoration: none;">
                <div class="card-body">
                    <div class="row" style="color: #480709;">
                        <div class="col-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                class="bi bi-credit-card-2-back-fill" viewBox="0 0 16 16">
                                <path
                                    d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5H0zm11.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM0 11v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1z" />
                            </svg>
                        </div>
                        <div class="col-6">
                            <h4>{{creditos.creditos_fecha_limite.count}}</h4>
                            <h6>Creditos Con Fecha Limite Hoy</h6>

                        </div>

                    </div>

                </div>

            </a>

        </div>
    </div>






</div>