{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<form method="POST" id="desembolso">
    {% csrf_token %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <div style="background-color: white; padding: 2rem;">
        <div class="row">
            <!-- SELECCION DEL CREDITO-->
            <div class="col-12" style="margin-bottom: 2rem;">
                <div class="form-group">
                    <label class="fw-medium" for="credit_id">Credito</label>
                    <select class="form-control credit" id="credit_id" name="credit_id" style="width: 100%" required>
                    </select>
                </div>

            </div>
        </div>
        <div class="form-group" style="margin-top: 2rem;">
            <label class="fw-medium" for="forma_desembolso">Forma de Desembolso</label>
            <!-- SELECCION DE LA FORMA DE DESEMBOLSOS-->
            <select class="form-select" id="forma_desembolso" aria-label="Default select example">
                <option selected>SELECCIONAR UN TIPO DE DESEMBOLSO</option>


                <option value="APLICACIÓN DE AMPLIACIÓN DE CRÉDITO VIGENTE">APLICACIÓN DE AMPLIACIÓN DE CRÉDITO VIGENTE
                </option>
                <option value="CANCELACIÓN DE CRÉDITO VIGENTE">CANCELACIÓN DE CRÉDITO VIGENTE</option>
            </select>

        </div>
        <div class="form-group" style="margin-top: 2rem;" id="div_monto_credito">
            <label class="fw-medium" for="monto">Monto del Credito</label>
            <div class="input-group mb-3">
                <span class="input-group-text fw-medium" id="basic-addon1">Q</span>
                <input type="number" min="0" step="any" class="form-control" id="monto" disabled>
            </div>

        </div>
        <div class="form-group" style="margin-top: 2rem;">
            <label class="fw-medium" for="saldo_anterior">Saldo Anterior</label>
            <div class="input-group mb-3">
                <span class="input-group-text fw-medium" id="basic-addon1">Q</span>
                <input type="number" min="0" step="any" class="form-control" id="saldo_anterior">
            </div>

        </div>
        <div class="form-group" style="margin-top: 2rem;">
            <label class="fw-medium" for="honorarios">Honorarios</label>
            <div class="input-group mb-3">
                <span class="input-group-text fw-medium" id="basic-addon1">Q</span>
                <input type="number" min="0" step="any" class="form-control" id="honorarios">
            </div>

        </div>
        <div class="form-group" style="margin-top: 2rem;">
            <label class="fw-medium" for="poliza_seguro">Poliza de Seguro</label>
            <div class="input-group mb-3">
                <span class="input-group-text fw-medium" id="basic-addon1">Q</span>
                <input type="number" min="0" step="any" class="form-control" id="poliza_seguro">
            </div>

        </div>
        <div class="form-group" style="margin-top: 2rem;">
            <label class="fw-medium" for="total_depositar">Total a Depositar</label>
            <div class="input-group mb-3">
                <span class="input-group-text fw-medium" id="basic-addon1">Q</span>
                <input type="number" min="0" step="any" class="form-control" id="total_depositar" disabled>
            </div>

        </div>
    </div>
    <hr>
    <div style="background-color: white; padding: 2rem;">
        <a href="{% url 'financings:list_disbursement' %}" style="margin-right: 0.5rem;"> Cancelar</a>
        <button type="submit" class="btn_edit" id="add_Desembolso">Agregar</button>
    </div>


</form>
{% endblock %}



{% block js %}
<script type="module" src="{% static 'js/financings/credit/disbursement.js'%}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        async function informacionDesembolso() {
            try {
                const response = await fetch('http://127.0.0.1:8000/financings/api/desembolso/');
                if (!response.ok) throw new Error(`Error al obtener información de desembolso: ${response.statusText}`);
                return await response.json();
            } catch (error) {
                console.error('Error al obtener la lista de desembolsos:', error);
                throw error;
            }
        }

        async function filtro(creditId) {
            try {
                const desembolsos = await informacionDesembolso();
                return desembolsos?.filter(item => item['credit_id'] === creditId) || [];
            } catch (error) {
                console.error('Error en el filtro', error);
                throw error;
            }
        }

        let suma = 0;

        $(".credit").on('select2:select', async function (e) {
            const creditId = e.params.data.id;
            const saldo = document.getElementById('saldo_anterior');
            saldo.disabled = true;
            suma = 0;

            try {
                const laboral = await filtro(creditId);
                suma = laboral.reduce((total, element) => total + parseFloat(element['monto_total_desembolso'] || 0), 0);

                const montoCredito = parseFloat(document.getElementById('monto').value);
                if (suma >= montoCredito) {
                    alert('NO SE PUEDE REALIZAR OTRO DESEMBOLSO');
                    window.location.href = '/financings/disbursement/';
                    return;
                }
                console.log('Suma total de desembolsos:', suma);
                console.log(montoCredito);
                console.log(saldo.value);
                document.getElementById('total_depositar').value = parseFloat(montoCredito - saldo.value).toFixed(2);
            } catch (error) {
                console.error('Error obteniendo detalles del cliente:', error);
            }
        });

        $(".credit").select2({
            width: 'resolve',
            ajax: {
                url: 'http://127.0.0.1:8000/financings/api/credit/',
                dataType: 'json',
                delay: 250,
                processResults: function (data) {
                    if (!Array.isArray(data)) {
                        console.error('Estructura de datos inesperada:', data);
                        return { results: [] };
                    }

                    return {
                        results: data.map(item => {
                            // Actualizar monto y saldo anterior
                            document.getElementById('monto').value = item.monto || '';
                            document.getElementById('saldo_anterior').value = item.saldo_actual || '';

                            // Retornar resultado para Select2
                            return {
                                id: item.id,
                                text: `${item.codigo_credito} ${item.customer_id.first_name} ${item.customer_id.last_name}`
                            };
                        })
                    };
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error en la solicitud AJAX:', textStatus, errorThrown);
                },
                cache: true
            },
            placeholder: 'Seleccione un Crédito',
            minimumInputLength: 1
        });
    });

</script>


{% endblock %}