{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="box">
    <div class="d-flex justify-content-center fs-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'clasificacion_reportes' %}">Reportes</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{posicion}}</li>

            </ol>
        </nav>
    </div>
    <div class="row g-4  row-cols-1 row-cols-lg-3" style="margin: 0 2rem;">
        <div class="feature col">
            <div class="card text-bg-light">
                <div class="card-body" style="padding: 2.5rem; display: flex; align-items: center; justify-content: center;">
                    <a href="{% url 'financings:filter_credito_con_excedente' %}" class="icon-link">
                        Creditos Con Excedente Cancelado
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>





        </div>
        <div class="feature col">
            <div class="card text-bg-light">
                <div class="card-body" style="padding: 2.5rem; display: flex; align-items: center; justify-content: center;">
                    <a href="{% url 'financings:creditos_en_atrasos' %}" class="icon-link">
                        Creditos en Atraso por Fechas
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            
        </div>
        <div class="feature col">
            <div class="card text-bg-light">
                <div class="card-body" style="padding: 2.5rem; display: flex; align-items: center; justify-content: center;">
                    <a href="{% url 'financings:creditos_falta_aportacion' %}" class="icon-link">
                        Creditos en Atraso por Aportacion
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            

            
        </div>
        <div class="feature col">
            <div class="card text-bg-light">
                <div class="card-body" style="padding: 2.5rem; display: flex; align-items: center; justify-content: center;">
                    <a href="{% url 'financings:creditos_cancelados'%}" class="icon-link">
                        Creditos Cancelados
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

           
        </div>
        <div class="feature col">
            <div class="card text-bg-light">
                <div class="card-body" style="padding: 2.5rem; display: flex; align-items: center; justify-content: center;">
                    <a href="{% url 'financings:filter_credito_por_mes_anio' %}" class="icon-link">
                        Creditos creados en tal mes
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            
          
        </div>
        <div class="feature col">
            <div class="card text-bg-light">
                <div class="card-body" style="padding: 2.5rem; display: flex; align-items: center; justify-content: center;">
                    <a href="{% url 'financings:reportes' %}" class="icon-link">
                        Pagos
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            
          
        </div>

    </div>


</div>
{% endblock %}