{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<form method="POST" id="credito">
    {% csrf_token %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <div style="background-color: white; padding: 2rem;">
        <div class="row">
            <div class="col-12" style="margin-bottom: 2rem;">
                <div class="form-group">
                    <label class="fw-medium" for="customer_id">Cliente</label>
                    <select class="form-control customer_id" id="customer_id" name="customer_id" style="width: 100%"
                        required>
                    </select>
                </div>

            </div>
            <div class="col-12" style="margin-bottom: 2rem;">
                <div class="form-group">
                    <label class="fw-medium" for="proposito">Proposito</label>
                    <textarea class="form-control" name="proposito" id="proposito" rows="2" required></textarea>

                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label class="fw-medium" for="monto">Monto</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text fw-medium" id="basic-addon1">Q</span>
                        <input type="number" min="0" step="any" class="form-control" name="monto" id="monto" required>

                    </div>


                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label class="fw-medium" for="tasa_interes">Tasa De Interes</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text fw-medium" id="basic-addon1">%</span>
                        <input type="number" min="0" class="form-control" step="any" name="tasa_interes"
                            id="tasa_interes" required>


                    </div>


                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label class="fw-medium" for="plazo">Plazo</label>
                    <div class="input-group mb-3">
                        <input type="number" min="0" class="form-control" pattern="^[0-9]+" name="plazo" id="plazo"
                            required>
                        <span class="input-group-text fw-medium" id="basic-addon1">Meses</span>

                    </div>


                </div>
            </div>

            <div class="col-6" style="margin: 2rem 0;">
                <div class="form-group">
                    <label class="fw-medium" for="forma_de_pago">Forma De Pago</label>
                    <select class="form-select" aria-label="Default select example" id="forma_de_pago"
                        name="forma_de_pago">
                        <option value="NIVELADA">NIVELADA</option>
                        <option value="AMORTIZACIONES A CAPITAL">AMORTIZACIONES A CAPITAL</option>
                    </select>
                </div>



            </div>
            <div class="col-6" style="margin: 2rem 0;">
                <div class="form-group">
                    <label class="fw-medium" for="tipo_credito">Tipo De Credito</label>
                    <select class="form-select" id="tipo_credito" name="tipo_credito">
                        <option value="AGROPECUARIO Y/O PRODUCTIVO">AGROPECUARIO Y/O PRODUCTIVO</option>
                        <option value="COMERCIO">COMERCIO</option>
                        <option value="SERVICIOS">SERVICIOS</option>
                        <option value="CONSUMO">CONSUMO</option>
                        <option value="VIVIENDA">VIVIENDA</option>
                    </select>

                </div>

            </div>

            <div class="col-6">
                <div class="form-group">
                    <label class="fw-medium" for="fecha_inicio">Fecha de Inicio</label>
                    <input type="date" class="form-control" name="fecha_inicio" id="fecha_inicio" required>
                </div>

            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="fw-medium" for="fecha_vencimiento">Fecha de Vencimiento</label>
                    <input type="date" class="form-control" name="fecha_vencimiento" id="fecha_vencimiento" disabled>
                </div>

            </div>
            <div style="margin-top: 2rem;">
                <a type="button" onclick="generar_plan()" class="btn_cancel" id="generar_plan">Generar Plan de Pagos</a>
            </div>


        </div>

    </div>
    <hr>
    <div style="background-color: white; padding: 2rem;">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Plan de Pagos</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Garantia</button>
                <button class="nav-link" id="nav-garantia-tab" data-bs-toggle="tab" data-bs-target="#nav-garantia"
                    type="button" role="tab" aria-controls="nav-garantia" aria-selected="false">Garantias
                    Registradas</button>

                <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled"
                    type="button" role="tab" aria-controls="nav-disabled" aria-selected="false">Desembolso</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                tabindex="0">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">


                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Mes</th>
                                        <th scope="col">Fecha de Inicio</th>
                                        <th scope="col">Fecha de Vencimiento</th>
                                        <th scope="col">Monto Prestado</th>
                                        <th scope="col">Interes</th>
                                        <th scope="col">Capital</th>
                                        <th scope="col">Cuota</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody_plan">

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                {% include 'financings/guarantee/add.html' %}
            </div>
            <div class="tab-pane fade" id="nav-garantia" role="tabpanel" aria-labelledby="nav-garantia-tab"
                tabindex="0">
                {% include 'financings/guarantee/list.html' %}

            </div>

            <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab"
                tabindex="0">
                {% include 'financings/disbursement/add.html' %}
            </div>
        </div>

    </div>
    <hr>
    <div style="background-color: white; padding: 2rem;">
        <a href="{% url 'financings:list_credit' %}" style="margin-right: 0.5rem;"> Cancelar</a>
        <button type="submit" class="btn_edit">Agregar</button>
    </div>

</form>




{% endblock %}



{% block js %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript">
    // Obtener el protocolo (HTTP/HTTPS)
    const protocolo = window.location.protocol; // Ejemplo: "https:"

    // Obtener el dominio (hostname)
    const dominio = window.location.hostname; // Ejemplo: "example.com"

    // Obtener el puerto
    const puerto = window.location.port; // Ejemplo: "8080" o "" si no está explícito

    const plazo = document.getElementById('plazo');
    const fecha_inicio = document.getElementById('fecha_inicio');
    const fecha_vencimiento = document.getElementById('fecha_vencimiento');

    fecha_inicio.addEventListener('input', function (event) {
        const plazoValue = parseInt(plazo.value, 10); // Obtén el valor del plazo
        const fechaInicioValue = new Date(event.target.value);
        if (!isNaN(plazoValue) && fechaInicioValue instanceof Date && !isNaN(fechaInicioValue)) {
            fechaInicioValue.setMonth(fechaInicioValue.getMonth() + plazoValue);
            fecha_vencimiento.value = fechaInicioValue.toISOString().split('T')[0];
        }
    });

    plazo.addEventListener('input', function (event) {
        const plazoValue = parseInt(event.target.value, 10); // Obtén el valor del plazo
        const fechaInicioValue = new Date(fecha_inicio.value);
        if (!isNaN(plazoValue) && fechaInicioValue instanceof Date && !isNaN(fechaInicioValue)) {
            fechaInicioValue.setMonth(fechaInicioValue.getMonth() + plazoValue);
            fecha_vencimiento.value = fechaInicioValue.toISOString().split('T')[0];
            console.log(fechaInicioValue.toISOString().split('T')[0]);
        }
    });

    const baseUrl = `${protocolo}//${dominio}${puerto ? `:${puerto}` : ''}`;
    console.log(`Base URL: ${baseUrl}`);

    $(document).ready(function () {
        $(".customer_id").select2({
            width: 'resolve',
            ajax: {
                url: `${baseUrl}/customers/api/customers/`,
                dataType: 'json',
                delay: 250,
                processResults: function (data) {
                    console.log(data);
                    // Verificar si 'data' es un array de objetos
                    if (Array.isArray(data)) {
                        return {
                            results: data.map(function (item) {
                                return {
                                    id: item.id,
                                    text: item.customer_code + ' ' + item.first_name + ' ' + item.last_name
                                };
                            })
                        };
                    } else {
                        console.error('Estructura de datos inesperada:', data);
                        return {
                            results: []
                        };
                    }
                },
                cache: true
            },
            placeholder: 'Seleccione un Cliente',
            minimumInputLength: 1
        });
        $(".customer_id_fiador").select2({
            width: 'resolve',
            ajax: {
                url: `${baseUrl}/customers/api/customers/`,

                dataType: 'json',
                delay: 250,
                processResults: function (data) {
                    console.log(data);
                    // Verificar si 'data' es un array de objetos
                    if (Array.isArray(data)) {
                        return {
                            results: data.map(function (item) {
                                return {
                                    id: item.id,
                                    text: item.customer_code + ' ' + item.first_name + ' ' + item.last_name
                                };
                            })
                        };
                    } else {
                        console.error('Estructura de datos inesperada:', data);
                        return {
                            results: []
                        };
                    }
                },
                cache: true
            },
            placeholder: 'Seleccione un Cliente',
            minimumInputLength: 1
        });
        async function fetchInformacion_laboral() {

            return fetch(`${baseUrl}/financial_information/api/working_information/`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error al momento de obtener informacion laboral ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Lista de clientes de informacion laboral obtenida:', data);
                    return data; // Puedes devolver los datos si necesitas hacer algo con ellos
                })
                .catch(error => {
                    console.error('Error al obtener la lista de clientes:', error);
                    throw error; // Puedes relanzar el error para manejarlo en otra parte de tu aplicación si es necesario
                });

        }
        async function fetchOtraInformacion_laboral() {

            return fetch(`${baseUrl}/financial_information/api/other_sources/`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error al momento de obtener informacion laboral ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Lista de clientes obtenida:', data);
                    return data; // Puedes devolver los datos si necesitas hacer algo con ellos
                })
                .catch(error => {
                    console.error('Error al obtener la lista de clientes:', error);
                    throw error; // Puedes relanzar el error para manejarlo en otra parte de tu aplicación si es necesario
                });

        }

        async function filtro(valor) {
            try {
                const laboral = await fetchInformacion_laboral();
                const otra = await fetchOtraInformacion_laboral();

                let filterList = [];

                if (laboral && laboral.length > 0) {
                    filterList = laboral.filter(item => item['customer_id'] === valor);
                }

                if (filterList.length === 0 && otra && otra.length > 0) {
                    filterList = otra.filter(item => item['customer_id'] === valor);
                }

                console.log(filterList);
                return filterList;

            } catch (error) {
                console.error('Error en el filtro', error);
                throw error;
            }
        }


        $(".customer_id_fiador").on('select2:select', async function (e) {
            var data = e.params.data;
            var clienteId = data.id;
            var codigo_cliente = document.getElementById('fiador_codigo_cliente');
            var telefono = document.getElementById('telefono2');
            var lugar_trabajo = document.getElementById('lugar_trabajo');
            var ingreso = document.getElementById('ingreso');

            try {
                const laboral = await filtro(clienteId);
                laboral.forEach(element => {
                    if (element.company_name) {
                        lugar_trabajo.value = element.company_name;

                    } else {
                        lugar_trabajo.value = element.source_of_income;
                    }

                    ingreso.value = element.salary;
                    console.log(element);
                });

                // Realizar una solicitud para obtener detalles adicionales del cliente
                const response = await fetch(`${baseUrl}/customers/api/customers/${clienteId}/`);
                if (!response.ok) {
                    throw new Error(`Error en la solicitud: ${response.statusText}`);
                }
                const clienteDetalles = await response.json();
                codigo_cliente.value = clienteDetalles.customer_code;
                telefono.value = clienteDetalles.telephone;
                // Aquí puedes usar los detalles de cliente para llenar otros campos, como lugar_trabajo e ingreso
            } catch (error) {
                console.error('Error obteniendo detalles del cliente:', error);
            }
        });

    });
    const tipo_garantia = document.getElementById('tipo_garantia');

    const hipoteca = document.getElementById('hipoteca');
    const derecho_posesion = document.getElementById('derecho_posesion');
    const cheque = document.getElementById('cheque');
    const fiador = document.getElementById('fiador');
    const mobiliaria = document.getElementById('mobiliaria');
    const vehiculo = document.getElementById('vehiculo');

    tipo_garantia.addEventListener('change', function (event) {
        const valor = event.target.value;
        if (valor === 'HIPOTECA') {
            mostrar(hipoteca);
            ocultar(derecho_posesion);
            ocultar(cheque);
            ocultar(fiador);
            ocultar(mobiliaria);
            ocultar(vehiculo);

        } else if (valor === 'DERECHO DE POSESIÓN HIPOTECA') {
            ocultar(hipoteca);
            ocultar(cheque);
            mostrar(derecho_posesion);
            ocultar(fiador);
            ocultar(mobiliaria);
            ocultar(vehiculo);


        } else if (valor === 'FIADOR') {
            ocultar(hipoteca);
            ocultar(derecho_posesion);
            ocultar(cheque);
            mostrar(fiador);
            ocultar(mobiliaria);
            ocultar(vehiculo);

        } else if (valor === 'CHEQUE') {
            ocultar(hipoteca);
            ocultar(derecho_posesion);
            mostrar(cheque);
            ocultar(fiador);
            ocultar(mobiliaria);
            ocultar(vehiculo);

        } else if (valor === 'VEHICULO') {
            ocultar(hipoteca);
            ocultar(derecho_posesion);
            ocultar(fiador);
            ocultar(mobiliaria);
            mostrar(vehiculo);

        } else if (valor === 'MOBILIARIA') {
            ocultar(hipoteca);
            ocultar(derecho_posesion);
            ocultar(fiador);
            mostrar(mobiliaria);
            ocultar(vehiculo);

        } else {
            ocultar(hipoteca);
            ocultar(derecho_posesion);
            ocultar(cheque);
            ocultar(fiador);
            ocultar(mobiliaria);
            ocultar(vehiculo);
            console.log('Buenoooo');
        }
    });

    const ocultar = (element) => {
        if (element) {
            element.style.display = 'none';
        }
    };

    const mostrar = (element) => {
        if (element) {
            element.style.display = 'block';
        }
    };



</script>
<script type="module" src="{% static 'js/financings/credit/credit.js'%}"></script>
<script type="module" src="{% static 'js/financings/credit/garantia.js'%}"></script>
<script type="module" src="{% static 'js/financings/credit/disbursement.js'%}"></script>
{% endblock%}