{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/detail_credit.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
{% endblock %}
{% block content %}
<div class="container my-4 p-4 bg-white rounded shadow-sm">
    <input type="hidden" id="siguiente_pago" value="{{siguiente_pago.id}}">
    <input type="hidden" id="cliente" value="{{customer_list.customer_code}}">
    <div class="row">
        {% include 'financings/credit/snippets/descripcion_credito.html' %}


    </div>
    <div class="row" style="margin-top: 2rem;">
        <hr>
        {% include 'financings/credit/snippets/menus_detalle_credito.html' %}
    </div>
    <div class="row" style="margin-top: 2rem;">
        <hr>
        {% include 'financings/credit/snippets/botones_detalle_credito.html' %}
    </div>


</div>
{% endblock %}


{% block js %}
<script type="module" src="{% static 'js/financings/credit/detail.js' %}"></script>
<script type="module" src="{% static 'js/financings/mensaje_alerta/accion_mensaje.js' %}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}