{% load static %}
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Mes</th>
                    <th scope="col">Fecha de Inicio</th>
                    <th scope="col">Fecha de Vencimiento</th>
                    <th scope="col">Monto Prestado</th>
                    <th scope="col">Interes</th>
                    <th scope="col">Capital</th>
                    <th scope="col">Cuota</th>
                </tr>
            </thead>
            <tbody>
                {% for pago in plan %}
                <tr>
                    <td>
                        {{pago.mes}}
                    </td>
                    <td>
                        {{pago.start_date}}
                    </td>
                    <td>
                        {{pago.due_date}}
                    </td>
                    <td>
                        Q {{pago.outstanding_balance}}
                    </td>
                    <td>
                        Q {{pago.interest}}
                    </td>
                    <td>
                        Q {{pago.principal}}
                    </td>
                    <td>
                        Q {{pago.installment}}
                    </td>

                </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>
</div>